<br>
	<footer>
		<div class="container">
			 <div class="col-md-3 info">
			 	<img src="/images/main-logo.svg" alt="TravelingYuk.com">
			 	<h5>PT. Traveling Media Network</h5>
			 	<div class="item-info">
				 	<p><b>Jakarta</b></p>
				 	<p>JL. AIPDA KS Tubun No. 83, Slipi, Palmerah, Jakarta Barat</p>
				</div>
				<div class="item-info">
				 	<p><b>Malang</b></p>
				 	<p>JL. Taman Sulfat XX, No. 2, Blimbing, Malang, Jawa Timur</p>
				 	<p>Phone (0341) 4372117</p>
			 	</div>
			 </div>
			 <div class="col-md-3 col-xs-3 col-sm-4">
			 	<h4>Tentang Traveling Yuk</h4>
			 	<ul class="menu-bot">
			 		<li><a href="">Tentang Kami</a></li>
			 		<li><a href="">Hubungi Kami</a></li>
			 		<li><a href="">Beriklan</a></li>
			 		<li><a href="">Berkontribusi</a></li>
			 		<li><a href="">Press</a></li>
			 		<li><a href="">Disclaimer</a></li>
			 		<li><a href="">FAQ</a></li>
			 	</ul>
			 </div>
			 <div class="col-md-2 col-xs-3 col-sm-4">
			 	<h4>Berteman Yuk</h4>
			 	<ul class="menu-bot">
			 		<li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> <span>Facebook</span></a></li>
			 		<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>
			 		<li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i> <span>Instagram</span></a></li>
			 		<li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i> <span>Youtube</span></a></li>
			 		<li><a href=""><i class="fa fa-pinterest-square" aria-hidden="true"></i> <span>Pinterest</span></a></li>
			 	</ul>
			 </div>
			 <div class="col-md-4 col-xs-3 col-sm-4">
			 	<h4>Dapatkan Berita Terbaru</h4>
			 	<p>Dapatkan email kamu dan dapatkan berita-berita seputar traveling langsung ke emailmu</p>
			 	<br>
			 	<form>
			 		<input type="text" name="email" placeholder="Tuliskan email anda"><br>
			 		<button type="submit" class="btn-default">KIRIM SEKARANG</button>
			 	</form>
			 </div>
		</div>
		<div class="container">
			<br>
			<div class="row">
				<div class="col-md-12">
					<p class="copy">@2018 <b>PT. Traveling Media Network.</b> All right reserved</p>
				</div>
			</div>
			<br>
		</div>
	</footer>
	</body>
</html>