<header>
    <div class="container clearfix">
        <div class="row">
            <div class="content-header">
                <div class="logo-images">
                    <a href="/">
                        <img src="/images/main-logo.svg" alt="TravelingYuk.com" class="main-logo">
                    </a>
                </div>
                <div class="menu">
                    <nav>
                        <ul>
                            <li class="<% if(menuaktif=='home'){ %>active<% } %>"><a href="/">Home</a></li>
                            <li class="<% if(menuaktif=='lokasi'){ %>active<% } %>"><a href="/lokasi">Lokasi</a></li>
                            <li class="<% if(menuaktif=='objek'){ %>active<% } %>"><a href="/objek-wisata">Objek Wisata</a></li>
                            <li class="<% if(menuaktif=='akomodasi'){ %>active<% } %>"><a href="/akomodasi">Akomodasi</a></li>
                            <li class="<% if(menuaktif=='kuliner'){ %>active<% } %>"><a href="/kuliner">Kuliner</a></li>
                            <!-- <li class="<% if(menuaktif=='itinerari'){ %>active<% } %>"><a href="<%= baseUrl %>itinerari">Itinerari</a></li> -->
                        </ul>
                    </nav>
                    <nav class="submenu">
                        <ul>
                            <li><a href="#" class="open-popup" data-popup-open="login">Login</a></li>
                            <li><a href="#" class="search-header"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="search-hide">
                <div class="container">
                	<form action="<%= baseUrl %>search" method="get">
                    <input type="text" class="typeahead" placeholder="Tuliskan yang mau kamu cari.." name="keyword">
					<button type="submit" style="display:none;" >cari</button>
                	</form>
                    <a href="#" class="close-header-typehead"><img src="<%= baseUrl %>images/icons/close-icn.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="backdrops"></div>

<div class="popup" id="login">
    <div class="bg-popup-backdrop"></div>
    <div class="popup-container">
        <a href="#" class="popup-close"><img src="assets/images/icons/close-icn.svg" alt=""></a>
        <div class="popup-body">
            <h4>Login</h4>
            <div class="error-content">
                <div class="icon error"></div>
                <div class="error-text">All field required.</div>
            </div>
            <form class="all-validation-forms">
                <div class="form-group">
                    <input type="email" class="input-text" placeholder="Email Addres">
                </div>
                <div class="form-group">
                    <input type="password" class="input-text" placeholder="Password">
                </div>
                <div class="form-group actions clearfix">
                    <div class="custom-checkbox">
                        <label>
                            <input type="checkbox">
                            <span class="custom-check"></span>
                            <span>Remember me</span>
                        </label>
                    </div>
                    <a href="#" class="show-password">Show Password</a>
                </div>
                <div class="capthca">
                    <div class="g-recaptcha" data-sitekey="6LdNqTwUAAAAANns6S6qEuD-lccb_dylv9eEmHE9"></div>
                </div>
                <div class="form-group">
                    <button class="button">LOGIN</button>
                    <a href="#" class="forgot-password">Forgot Password?</a>
                </div>
                <div class="login-other">
                    <div class="divider"><span>or continue with</span></div>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-6 col-xs-6"><a href="#"><span class="icon facebook"></span>Facebook</a></div>
                            <div class="col-md-6 col-xs-6"><a href="#"><span class="icon google"></span>Google</a></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="popup-footer">
            <p>Don't have an account? <a href="#" class="open-popup" data-popup-open="signup">Sign Up</a></p>
        </div>
    </div>
</div>

<div class="popup" id="signup-email">
    <div class="bg-popup-backdrop"></div>
    <div class="popup-container">
        <a href="#" class="popup-close"><img src="assets/images/icons/close-icn.svg" alt=""></a>
        <div class="popup-body">
            <h4>Sign up with Email</h4>
            <div class="error-content">
                <div class="icon error"></div>
                <div class="error-text">All field required.</div>
            </div>
            <form class="all-validation-forms">
                <div class="form-group">
                    <input type="email" class="input-text" placeholder="Email Addres">
                </div>
                <div class="form-group">
                    <input type="text" class="input-text" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input type="text" class="input-text" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input type="password" class="input-text" placeholder="Password">
                </div>
                <div class="form-group actions clearfix">
                    <div class="custom-checkbox">
                        <label>
                            <input type="checkbox">
                            <span class="custom-check"></span>
                            <span>I agree to <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>.</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="button">SIGNUP</button>
                </div>
                <div class="login-other">
                    <div class="divider"><span>or sign up with</span></div>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-6 col-xs-6"><a href="#"><span class="icon facebook"></span>Facebook</a></div>
                            <div class="col-md-6 col-xs-6"><a href="#"><span class="icon google"></span>Google</a></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="popup-footer">
            <p>Already have an Travelingyuk account? <a href="#" class="open-popup" data-popup-open="signup">Login</a></p>
        </div>
    </div>
</div>