<br>
<footer>
	<div class="container">
		 <div class="info">
		 	<img data-src="<%= baseUrl %>images/main-logo.svg">
		 	<h5>PT. Traveling Media Network</h5>
		 	<div class="item-info">
			 	<p><b>Jakarta</b></p>
			 	<p>JL. AIPDA KS Tubun No. 83, Sipi, Palmerah, Jakarta Barat</p>
			</div>
			<div class="item-info">
			 	<p><b>Malang</b></p>
			 	<p>JL. Taman Sulfat, No. 2, Blimbing, Malang, Jawa Timur</p>
			 	<p>Phone (0341) 4372117</p>
		 	</div>
		 </div>
		 <div class="footer-list">
		 	<h4>Tentang Traveling Yuk</h4>
		 	<div class="content-footer">
			 	<ul class="menu-bot">
			 		<li><a href="">Tentang Kami</a></li>
			 		<li><a href="">Hubungi Kami</a></li>
			 		<li><a href="">Beriklan</a></li>
			 		<li><a href="">Berkontribusi</a></li>
			 		<li><a href="">Press</a></li>
			 		<li><a href="">Disclaimer</a></li>
			 		<li><a href="">FAQ</a></li>
			 	</ul>
			 </div>
		 </div>
		 <div class="footer-list">
		 	<h4>Berteman Yuk</h4>
		 	<div class="content-footer">
			 	<ul class="menu-bot">
			 		<li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> <span>Facebook</span></a></li>
			 		<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i> <span>Twitter</span></a></li>
			 		<li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i> <span>Instagram</span></a></li>
			 		<li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i> <span>Youtube</span></a></li>
			 		<li><a href=""><i class="fa fa-pinterest-square" aria-hidden="true"></i> <span>Pinterest</span></a></li>
			 	</ul>
		 	</div>
		 </div>
		 <div class="footer-list">
		 	<h4>Dapatkan Berita Terbaru</h4>
		 	<div class="content-footer">
			 	<p>Dapatkan email kamu dan dapatkan berita-berita seputar traveling langsung ke emailmu</p>
			 	<br>
			 	<form>
			 		<input type="text" name="subscribe" value="" placeholder="Tuliskan email anda"><br>
			 		<button type="submit">KIRIM SEKARANG</button>
			 	</form>
			 </div>
		 </div>
	</div>
	<div class="container">
		<br>
		<div class="row">
			<p class="copy">@2017 <b>PT. Traveling Media Network.</b><br> All right reserved</p>
		</div>
		<br>
	</div>
</footer>   
</body></html>