    <header>
        <div class="container clearfix">
            <div class="row">
                <div class="content-header clearfix">
                    <div class="menu-links">
                        <a href="#"><img data-src="<%= baseUrl %>images/m/icons/menu-icn.svg" alt="menu-icon"></a>
                    </div>
                    <div class="logo">
                        <a href="/">
                            <img data-src="<%= baseUrl %>images/m/main-logo.svg" alt="Logo">
                        </a>
                    </div>
                    <div class="search">
                        <a href="#">
                            <img data-src="<%= baseUrl %>images/m/icons/seach-icon.svg" alt="searc-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="backdrops"></div>

    <div class="autocomplete-mobile">
        <a href="#" class="close-button"><img data-src="<%= baseUrl %>images/m/icons/close-icn.svg" alt="close-icon"></a>
        <form action="search" method="get">
            <div class="input-group">
                <input class="typeahead input-text get_value" type="text" placeholder="Tuliskan yang mau kamu cari.." name="keyword" required>
                <div class="border-text"></div>
                <button type="submit" style="height:0; width:0; position:absolute; top:0; left:0; border:none; background:none;"></button>
            </div>
        </form>
    </div>

    <div class="sidebar-menu">
        <nav class="submenu">
            <ul>
                <li><div class="img-profile" style="background-image: url()"></div></li>
                <li><a href="#" class="open-popup" data-popup-open="login">Masuk</a> / <a href="#" class="open-popup" data-popup-open="signup">Daftar</a></li>
            </ul>
        </nav>
        <nav class="menus">
            <ul>
                <li><a href="/lokasi">Lokasi</a></li>
                <li><a href="/objek-wisata">Objek Wisata</a></li>
                <li><a href="/akomodasi">Akomodasi</a></li>
                <li><a href="/kuliner">Kuliner</a></li>
            </ul>
        </nav>
    </div>

    <div class="popup" id="login">
    <div class="popup-container">
        <a href="#" class="popup-close"><img data-src="<%= baseUrl %>images/m/icons/close-icn.svg" alt="close-icon"></a>
        <div class="popup-body">
            <h4>Login</h4>
            <div class="error-content">
                <div class="icon error"></div>
                <div class="error-text">All field required.</div>
            </div>
            <form action="post" class="all-validation-forms">
                <div class="form-group">
                    <input type="email" class="input-text" placeholder="Email Addres">
                </div>
                <div class="form-group">
                    <input type="password" class="input-text" placeholder="Password">
                </div>
                <div class="form-group actions clearfix">
                    <div class="custom-checkbox">
                        <label>
                            <input type="checkbox">
                            <span class="custom-check"></span>
                            <span>Remember me</span>
                        </label>
                    </div>
                    <a href="#" class="show-password">Show Password</a>
                </div>
                <div class="capthca">
                    <div class="g-recaptcha" data-sitekey="6LdNqTwUAAAAANns6S6qEuD-lccb_dylv9eEmHE9"></div>
                </div>
                <div class="form-group">
                    <button class="button">LOGIN</button>
                    <a href="#" class="forgot-password">Forgot Password?</a>
                </div>
                <div class="login-other">
                    <div class="divider"><span>or continue with</span></div>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-6 col-xs-6"><a href="#"><span class="icon facebook"></span>Facebook</a></div>
                            <div class="col-md-6 col-xs-6"><a href="#"><span class="icon google"></span>Google</a></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="popup-footer">
            <p>Don't have an account? <a href="#" class="open-popup" data-popup-open="signup">Sign Up</a></p>
        </div>
    </div>
</div>

<div class="popup" id="signup">
    <div class="popup-container">
        <a href="#" class="popup-close"><img data-src="<%= baseUrl %>images/m/icons/close-icn.svg" alt="close-icon"></a>
        <div class="popup-body">
            <h4>Sign Up</h4>
            <form action="">
                <div class="login-other">
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-12 col-xs-12"><a href="#"><span class="icon facebook"></span>Sign up with Facebook</a></div>
                            <div class="col-md-12 col-xs-12"><a href="#"><span class="icon google"></span>Sign up with Google</a></div>
                        </div>
                    </div>
                    <div class="divider"><span>or</span></div>
                    <a href="#" class="button open-popup" data-popup-open="signup-email">SIGN UP WITH EMAIL</a>
                </div>
            </form>
        </div>
        <div class="popup-footer">
            <p>Already have an Travelingyuk account? <a href="#" class="open-popup" data-popup-open="login">Login</a></p>
        </div>
    </div>
</div>

<div class="popup" id="signup-email">
    <div class="popup-container">
        <a href="#" class="popup-close"><img data-src="<%= baseUrl %>images/m/icons/close-icn.svg" alt="close-icon"></a>
        <div class="popup-body">
            <h4>Sign up with Email</h4>
            <div class="error-content">
                <div class="icon error"></div>
                <div class="error-text">All field required.</div>
            </div>
            <form action="post" class="all-validation-forms">
                <div class="form-group">
                    <input type="email" class="input-text" placeholder="Email Addres">
                </div>
                <div class="form-group">
                    <input type="text" class="input-text" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input type="text" class="input-text" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input type="password" class="input-text" placeholder="Password">
                </div>
                <div class="form-group actions clearfix">
                    <div class="custom-checkbox">
                        <label>
                            <input type="checkbox">
                            <span class="custom-check"></span>
                            <span>I agree to <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>.</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="button">SIGNUP</button>
                </div>
                <div class="login-other">
                    <div class="divider"><span>or sign up with</span></div>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-6 col-xs-6"><a href="#"><span class="icon facebook"></span>Facebook</a></div>
                            <div class="col-md-6 col-xs-6"><a href="#"><span class="icon google"></span>Google</a></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="popup-footer">
            <p>Already have an Travelingyuk account? <a href="#" class="open-popup" data-popup-open="login">Login</a></p>
        </div>
    </div>
</div>