<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">        <meta name="msapplication-tap-highlight" content="no">        
        <link rel="stylesheet" href="/stylesheets/m/vendor.min.css?v=3">        
        <link rel="stylesheet" href="/stylesheets/m/main.css?v=7">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
        <style type="text/css" media="screen">
            .share-single ul li a.facebook:before{background-image:url(<%= baseUrl %>images/m/icons/share/facebook.svg)}
            .share-single ul li a.twitter{height:48px;background:#00aaec}
.share-single ul li a.twitter:before{background-image:url(<%= baseUrl %>images/m/icons/share/twitter.svg)}
.share-single ul li a.whatsapp{height:48px;background:#2ba120}
.share-single ul li a.whatsapp:before{background-image:url(<%= baseUrl %>images/m/icons/share/whatsapp.svg)}
.share-single ul li a.line{height:48px;background:#00b900}
.share-single ul li a.line:before{background-image:url(<%= baseUrl %>images/m/icons/share/line.svg)}
.share-single ul li a.instagram{height:48px;background:#eee}
.share-single ul li a.instagram:before{background-image:url(<%= baseUrl %>images/m/icons/share/instagram.png)}

.share-single ul li a.more:before{background-image:url(<%= baseUrl %>images/m/icons/share/invalid-name.svg)}
.back-to-top .back-top:before{content:url(<%= baseUrl %>images/m/icons/arrow-up.svg);position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.share-single{position:fixed;bottom:0;width:100%;z-index:90}
.check-icon{background:url(<%= baseUrl %>images/m/icons/thing-icn.svg) no-repeat 50%;width:24px;height:24px}
.active .plane2-icon{background:url(<%= baseUrl %>images/m/icons/plane-2-icn-active.svg) no-repeat 50%}
.active .train2-icon{background:url(<%= baseUrl %>images/m/icons/train-2-icn-active.svg) no-repeat 50%}
.active .walk-icon{background:url(<%= baseUrl %>images/m/icons/walk-icn-active.svg) no-repeat 50%}
.active .bus-icon{background:url(<%= baseUrl %>images/m/icons/bus-active.svg) no-repeat 50%}
.active .bike-icon{background:url(<%= baseUrl %>images/m/icons/bike-icn-active.svg) no-repeat 50%;width:24px;height:22px;object-fit:contain;display:inline-block}
.active .car-icon{background:url(<%= baseUrl %>images/m/icons/car-icn-active.svg) no-repeat 50%}
.car-icon{background:url(<%= baseUrl %>images/icons/car-icn-inactive.png) no-repeat 50%}
.train-icon{background:url(<%= baseUrl %>images/train-inactive.png) no-repeat 50%}

.active .plane-icon{background:url(<%= baseUrl %>images/m/icons/plane-active.svg) no-repeat 50%}
.pagination ul li a .prev{background:url(<%= baseUrl %>images/m/icons/arrow-left.svg) no-repeat 50%;display:block;height:35px;width:35px}
.pagination ul li a .next{background:url(<%= baseUrl %>images/m/icons/arrow-right.svg) no-repeat 50%;display:block;height:35px;width:35px}
.twt-icon{background:url(<%= baseUrl %>images/m/icons/twitter-copy-2.svg) no-repeat 50%}
.ig-icon{background:url(<%= baseUrl %>images/m/icons/instagram-copy-2.png) no-repeat 50%}
.review-icon{background:url(<%= baseUrl %>images/m/icons/review-icn.svg) no-repeat 50%}
.fb-icon{background:url(<%= baseUrl %>images/m/icons/facebook-copy-2.svg) no-repeat 50%}
.wa-icon{background:url(<%= baseUrl %>images/m/icons/whatsapp.svg) no-repeat 50%}
.line-icon{background:url(<%= baseUrl %>images/m/icons/line.svg) no-repeat 50%;background-size:24px}
.line-icon,.plus-icon{width:24px;height:24px;object-fit:contain;display:inline-block}
.plus-icon{background:url(<%= baseUrl %>images/m/icons/invalid-name.svg) no-repeat 50%}
.event-icon,.event-type-icon{width:24px;height:24px;object-fit:contain;display:inline-block}
.event-icon{background:url(<%= baseUrl %>images/m/icons/event-icn.svg) no-repeat 50%}
.arrow-next{background:url(<%= baseUrl %>images/m/icons/arrow-icon.svg) no-repeat 50%;width:6px;height:6px;object-fit:contain;display:inline-block}
.plane-icon{background:url(<%= baseUrl %>images/m/icons/plane-inactive.svg) no-repeat 50%}.bus-icon,.plane-icon{width:24px;height:22px;object-fit:contain;display:inline-block}
.bus-icon{background:url(<%= baseUrl %>images/m/icons/bus-active.svg) no-repeat 50%}
.train-icon{background:url(<%= baseUrl %>images/icons/train-inactive.png) no-repeat 50%}
.active .train2-icon{background:url(<%= baseUrl %>images/icons/train-2-icn-active.svg) no-repeat 50%}
.active .train-icon{background:url(<%= baseUrl %>images/icons/train-2-icn-active.svg) no-repeat 50%}

.from-icon{background:url(<%= baseUrl %>images/m/icons/place-icn.svg) no-repeat 50%}.from-icon,.target-icon{width:24px;height:24px;object-fit:contain;display:inline-block}
.target-icon{background:url(<%= baseUrl %>images/m/icons/place-icn-2.svg) no-repeat 50%}
.video-icon{background:url(<%= baseUrl %>images/m/icons/video-icon.svg) no-repeat 50%;width:48px;height:48px}.more-icon,.video-icon{object-fit:contain;display:inline-block}
.more-icon{background:url(<%= baseUrl %>images/m/icons/more-icn-inactive.svg) no-repeat 50%;width:20px;height:4px}.check-icon,.marker-orange{object-fit:contain;display:inline-block}
.marker-orange{background:url(<%= baseUrl %>images/m/icons/marker-orange.svg) no-repeat 50%;width:12px;height:18px}
.clock-icon{background:url(<%= baseUrl %>images/m/icons/clock.svg) no-repeat 50%}.attraction-icon,.clock-icon{width:24px;height:24px;object-fit:contain;display:inline-block}
.attraction-icon{background:url(<%= baseUrl %>images/m/icons/attraction-icn.svg) no-repeat 50%}
.cuisine-icon{background:url(<%= baseUrl %>images/m/icons/cuisine-icn.svg) no-repeat 50%;width:24px;height:24px;object-fit:contain;display:inline-block}
.tips-icon{background:url(<%= baseUrl %>images/m/icons/tips-icn.svg) no-repeat 50%}
.btn-thumb .btn-up{background:url(<%= baseUrl %>images/m/icons/thumb-up-icn.svg) no-repeat 50%}
.btn-thumb .btn-down{background:url(<%= baseUrl %>images/m/icons/thumb-down-icn.svg) no-repeat 50%}
.btn-thumb .btn-up.active{background:url(<%= baseUrl %>images/m/icons/thumb-up-active-icn.svg) no-repeat 50%;background-color:#00aeec;border:1px solid #00aeec}
.btn-thumb .btn-down.active{background:url(<%= baseUrl %>images/m/icons/thumb-down-active-icn.svg) no-repeat 50%;background-color:#f44336;border:1px solid #f44336}
.popup .popup-container .popup-body .login-other a .icon.facebook:before{content:url(<%= baseUrl %>images/m/icons/fb-color-icon.svg)}
.popup .popup-container .popup-body .login-other a .icon.google:before{content:url(<%= baseUrl %>images/m/icons/google-clr-btn.svg)}
.popup .popup-container .error-content .icon.error:before{content:url(<%= baseUrl %>images/m/icons/alert-icn.svg);position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.custom-checkbox input:checked~.custom-check:before{content:url(<%= baseUrl %>images/m/icons/tick.svg);top:-1px;left:3px;position:absolute}
.rated-content h5.more-content a i:before{content:url(<%= baseUrl %>images/m/icons/arrow-icon.svg)}
.search-form .input-group.with-icons:before{content:url(<%= baseUrl %>images/m/icons/search-icon.svg);position:absolute;margin-top:20px;margin-left:15px;z-index:10}
.hero-banner .bg-hero{width:100%;height:270px;background-size:cover;background-repeat:no-repeat;text-align:center;background-position:50% 25%;position:relative}
.rate-this ul li a.active:after{content:url(<%= baseUrl %>images/m/icons/star-fill.svg)}
.rate-this ul li a:after{content:url(<%= baseUrl %>images/m/icons/star-empty.svg);display:inline-block;position:relative;top:2px}
footer .container:first-of-type ul.menu-bot li a i.fa-facebook-official:before{content:url(<%= baseUrl %>images/m/icons/facebook.svg)}
footer .container:first-of-type ul.menu-bot li a i.fa-twitter:before{content:url(<%= baseUrl %>images/m/icons/twitter.svg)}
footer .container:first-of-type ul.menu-bot li a i.fa-instagram:before{content:url(<%= baseUrl %>images/m/icons/instagram.svg)}
footer .container:first-of-type ul.menu-bot li a i.fa-youtube-play:before{content:url(<%= baseUrl %>images/m/icons/youtube.svg)}
footer .container:first-of-type ul.menu-bot li a i.fa-pinterest-square:before{content:url(<%= baseUrl %>images/m/icons/pinterest.svg)}
footer .footer-list h4:after{content:"";display:block;background-image:url(<%= baseUrl %>images/m/icons/arrow-down.svg);width:12px;height:12px;background-size:cover;position:absolute;right:0;top:10px}
.rating-container .rating-stars .filled-stars .star .glyphicon-star:before{content:url(<%= baseUrl %>images/m/icons/star-fill.svg)}
.rating-container .rating-stars .empty-stars .star .glyphicon-star-empty:before{content:url(<%= baseUrl %>images/m/icons/star-empty.svg)}
.sort div.nice-select.changes.category .current:before{content:url(<%= baseUrl %>images/m/icons/category-icn-active.svg)}
.sort div.nice-select.changes.rating-icn .current:before{content:url(<%= baseUrl %>images/m/icons/rating-icn-active.svg)}
.sort div.nice-select.changes.eats .current:before{content:url(<%= baseUrl %>images/m/icons/cuisine-icn-active.svg)}
.sort div.nice-select.changes.events .current:before{content:url(<%= baseUrl %>images/m/icons/event-icn-active.svg)}
.sort div.nice-select.changes.place .current:before{content:url(<%= baseUrl %>images/m/icons/place-sort-icn-active.svg)}
.sort div.nice-select.changes.clock .current:before{content:url(<%= baseUrl %>images/m/icons/clock-active.svg)}
.sort div.nice-select.changes.property .current:before{content:url(<%= baseUrl %>images/m/icons/property-icn-active.svg)}
.sort div.nice-select.category .current:before{content:url(<%= baseUrl %>images/m/icons/category-icn.svg);margin-right:8px;display:inline-block;vertical-align:top;margin-left:8px}
.sort div.nice-select.place .current:before{content:url(<%= baseUrl %>images/m/icons/place-sort-icn.svg);margin-right:8px;display:inline-block;vertical-align:middle;margin-left:8px}
.sort div.nice-select.clock .current:before{content:url(<%= baseUrl %>images/m/icons/clock.svg);margin-right:8px;display:inline-block;vertical-align:middle;margin-left:8px}
.sort div.nice-select.rating-icn .current:before{content:url(<%= baseUrl %>images/m/icons/rating-icn.svg);margin-right:8px;display:inline-block;vertical-align:middle;margin-left:8px}
.sort div.nice-select.eats .current:before{content:url(<%= baseUrl %>images/m/icons/cuisine-icn.svg);margin-right:8px;display:inline-block;vertical-align:middle;margin-left:8px}
.sort div.nice-select.events .current:before{content:url(<%= baseUrl %>images/m/icons/event-icn.svg);margin-right:8px;display:inline-block;vertical-align:middle;margin-left:8px}
.sort div.nice-select.property .current:before{content:url(<%= baseUrl %>images/m/icons/property-icn.svg);margin-right:8px;display:inline-block;vertical-align:middle;margin-left:8px}
h5.more-content a i:before{content:url(<%= baseUrl %>images/m/icons/arrow-icon.svg)}
.single-pagesv2 .page-detail .marker-location:before{content:url(<%= baseUrl %>images/m/icons/marker-orange.svg);display:inline-block;vertical-align:middle;position:relative;top:1px;margin-right:5px}
.single-pagesv2 .page-detail .marker-location p{font-family:Lunchtype;font-size:14px;text-align:left;color:#333;margin:0;display:inline-block;vertical-align:middle;max-width:270px}.single-pagesv2 .page-description h3,.single-pagesv2 .row-pad-8 .row>div{margin-bottom:0}
.single-pagesv2 .things-todo .box:before{content:url(<%= baseUrl %>images/m/icons/thing-icn.svg);display:block;text-align:center;margin-right:16px;vertical-align:top}
.kuliner-single .halal-meter .meter span.selected:before{content:url(<%= baseUrl %>images/m/icons/caret.png);position:absolute;bottom:-10px;left:50%;-webkit-transform:translate(-50%);transform:translate(-50%)}
.kuliner-single .layanan ul li:before{content:url(<%= baseUrl %>images/m/icons/thing-icn.svg);display:inline-block;vertical-align:middle;margin-right:8px}.types-maps{margin-top:16px;border-top:1px solid #ddd;padding-top:16px;margin-left:-16px;margin-right:-16px;padding-left:16px;padding-right:16px}
.types-maps .icons.attraction{background:url(<%= baseUrl %>images/m/icons/attraction-icn.svg) no-repeat 50%}
.types-maps .icons.cuisine-icn{background:url(<%= baseUrl %>images/m/icons/cuisine-icn.svg) no-repeat 50%}
.types-maps .icons.clock-icn{background:url(<%= baseUrl %>images/m/icons/clock.svg) no-repeat 50%}
.types-maps .icons.phone-icn{background:url(<%= baseUrl %>images/m/icons/phone-icn.svg) no-repeat 50%}
.types-maps .icons.website-icn{background:url(<%= baseUrl %>images/m/icons/website-icn.svg) no-repeat 50%}
.itinerary .accordion-trigger:before{content:url(<%= baseUrl %>images/m/icons/arrow-up2.svg);position:absolute;right:0;-webkit-transform:rotate(180deg);transform:rotate(180deg);top:7px}
.itinerary .accordion-trigger.active:before{content:url(<%= baseUrl %>images/m/icons/arrow-up2.svg);position:absolute;right:0;-webkit-transform:rotate(0);transform:rotate(0);top:0}
.itenary-nav .intro.active:before{content:url(<%= baseUrl %>images/m/icons/arrow-right-paginated-active.svg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.itenary-nav .intro:before{content:url(<%= baseUrl %>images/m/icons/arrow-right-paginated.svg);display:inline-block;position:relative;margin-right:10px;top:1px}
.itenary-nav .next.active:after{content:url(<%= baseUrl %>images/m/icons/arrow-right-paginated-active.svg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}
.itenary-nav .next:after{content:url(<%= baseUrl %>images/m/icons/arrow-right-paginated.svg);display:inline-block;position:relative;margin-left:10px;top:1px;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.stories-section .view-status .icon-view:before{content:url(<%= baseUrl %>images/m/icons/view-icn.svg);display:inline-block;vertical-align:middle;margin-right:2px}
.stories-details .action-list a .views-icon:before{width:28px;background-image:url(<%= baseUrl %>images/m/icons/view-icn.svg);top:-3px}
.stories-details .action-list a .comment-icon:before{width:23px;background-image:url(<%= baseUrl %>images/m/icons/comments-icn.svg);top:-2px}
.stories-details .steps-tips.tips-content .tips-steps:before{content:"";background-image:url(<%= baseUrl %>images/m/icons/arrow-down.svg);width:20px;height:20px;background-size:cover;position:absolute;right:0;top:12px}
.stories-details .box-comments .more-comment:after{content:url(<%= baseUrl %>images/m/icons/arrow-down.svg);display:inline-block;margin-left:8px;position:relative}
.stories-details .info-akomodasi .content .info-desc .location:before{content:url(<%= baseUrl %>images/m/icons/place-icn.svg);display:block;float:left;margin-right:15px}

        </style>