<% include partials/meta %>        
        <title>Travelingyuk</title>
        <meta name="description" content="">        
    </head>
    <body>
        <div id="fb-root"></div>
<% include partials/header %>

    <section class="menu-single paddingHeader">
      <ul>
        <li><a href="#" id="ulasan">Ulasan</a></li>
        <li><a href="#" id="panduan">Panduan</a></li>
        <li><a href="#" id="artikel">Artikel</a></li>
      </ul>
    </section>
    <div class="single-padding single-custom-padding">
      <div class="single-tab showing">
        <section class="location-content single-pagesv2 kuliner-single akomodasi-content">
          <div class="container">
            <div class="page-detail">
              <ul class="page-rating">
                <li><input type="text" class="rating" value="<%= datas.data.rating %>" readonly="readonly"></li>
                <li><span><%= datas.data.review %> reviews</span></li>
              </ul>
              <h1><%= datas.data.name %></h1>
              <div class="marker-location">
                <p><%= datas.data.address %></p>
              </div>
              <div class="row">
                <div class="column">
                  <div class="img-headline">
                    <div class="img-primary">
                      <img src="<%= datas.data.images[0] %>" class="img-responsive" alt="<%= datas.data.name %>">
                    </div>
                    <div class="img-li row-pad-8">
                      <div class="row">
                        <div class="owl-carousel owl-box-single owl-theme">
                            <% if(datas.data.images.length>0) { 
                            datas.data.images.forEach(function(thumb) { %>
                              <div class="column">
                                <a href="">
                                <img src="<%= thumb %>" 
                                    data-src="<%= thumb %>" class="img-responsive" 
                                    alt="<%= datas.data.name %>">
                                </a>
                              </div>
                          <% });
                           } %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% if(datas.data.information.length>3){ %>
                  <div class="page-description page-section">
                    <h3>Sekilas Info</h3>
                    <div class="paragraph showmore">
                      <%= datas.data.information %>
                    </div>
                  </div>
                  <% } %>
                  <% if(datas.data.policies.length>0){ %>
                  <div class="page-description page-section">
                    <h3>Kebijakan Tamu</h3>
                    <ul class="list-dot">
                      <% datas.data.policies.forEach( function(el, index) { %>
                            <li><%= el %></li>                                
                        <% }); %>
                    </ul>
                  </div>
                  <% } %>

                  <div class="page-description page-section">
                    <ul class="list-inline">
                      <li><strong>Property Type</strong><span><%= datas.data.propertyType %></span></li>
                        <% if(datas.data.priceMin>0 && datas.data.priceMax>0) { %>
                        <li><strong>Price Range</strong><span>IDR <%= datas.data.priceMin %> - IDR <%= datas.data.priceMax %></span></li>
                        <% } %>
                        <% if (datas.data.room.length>0) { %>
                        <li><strong>Room Types</strong><span><%=datas.data.room[0] %></span></li>
                        <% } %>
                        <li><strong>Checkin / Checkout</strong><span>11:00 AM /  02:00 PM</span></li>
                        <% if(datas.data.receptionOpenTime>0) { %>
                        <li><strong>Reception open until</strong><span><%= datas.data.receptionOpenTime %></span></li>
                        <% } %>
                    </ul>
                  </div>
                  <div class="page-description page-section">
                    <h3>Fasilitas Hotel</h3>
                    <div class="box">
                      <ul class="list-check list-row-2">
                        <li><i class="check-icon"></i>24-hour front desk</li>
                        <li><i class="check-icon"></i>Airport transportation (surcharge)</li>
                        <li><i class="check-icon"></i>Elevator/lift</li>
                        <li><i class="check-icon"></i>Free breakfast</li>
                        <li><i class="check-icon"></i>Laundry facilitie</li>
                        <li><i class="check-icon"></i>Meeting rooms (4)</li>
                        <li><i class="check-icon"></i>Number of buildings/towers (1)</li>
                        <li><i class="check-icon"></i>Picnic area</li>
                        <li><i class="check-icon"></i>Roll-in shower</li>
                        <li><i class="check-icon"></i>Total number of rooms (122)</li>
                      </ul>
                    </div>
                  </div>
                  <% if(datas.data.hotelFacilities.length>0) { %>
                  <div class="page-description page-section">
                    <h3>Fasilitas Hotel</h3>
                    <div class="box">
                      <ul class="list-check list-row-2">
                        <% datas.data.hotelFacilities.forEach( function(el, index) { %>
                        <li><i class="check-icon"></i><%= el %></li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                  <% } %>
                  <% if(datas.data.roomFacilities.length>0) { %>
                  <div class="page-description page-section">
                    <h3>Fasilitas Kamar</h3>
                    <div class="box">
                      <ul class="list-check list-row-2">
                        <% datas.data.roomFacilities.forEach( function(el, index) { %>
                        <li><i class="check-icon"></i><%= el %></li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="single-tab" id="ulasan">
        <section class="location-content single-pagesv2 kuliner-single akomodasi-content">
          <div class="container">
            <div class="page-detail">
              <div class="rate-content page-section">
                <h4>Ulasan tentang <%= datas.data.name %></h4>
                <div class="btn-rate btn-orange">
                  <strong><%= datas.data.rating %></strong>
                  <span>/5</span>
                </div>
                <div class="label-rate">
                  <input type="text" class="rating" value="<%= datas.data.rating %>" readonly="readonly">
                  <span><%= datas.data.review %> reviews</span>
                </div>
              </div>
              <% if(datas.data.reviews.common.data.length>0) { %>
              <div class="tips-content page-section">
                <h3>Ulasan &amp; Tips</h3>
                <div class="box">
                  <div class="author">
                    <div class="row">
                      <div class="col-xs-12">
                        <img src="" class="avatar" alt="">
                        <div class="author-desc">
                          <strong>John Smith</strong>
                          <input type="text" class="rating" value="4.5" readonly="readonly">
                          <span class="created">October 27, 2017</span>
                        </div>
                        <span class="top">Top Review</span>
                      </div>
                    </div>
                  </div>
                  <p>It was during this time that the people developed their complex irrigation system subak to grow rice in wet-field cultivation. Some religious and cultural traditions still practiced today can be traced to this period.</p>
                  <div class="feedback">
                    <button class="btn-thumb"><i class="btn-up"></i></button>
                    <span class="btn-outer-counter">99</span>
                    <button class="btn-thumb"><i class="btn-down"></i></button>
                    <span class="btn-outer-counter">99</span>
                    <button class="btn-more"><i class="more-icon"></i></button>
                  </div>
                </div>
              </div>
              <% } %>
              <div class="add-review-content page-section">
                <h3>Tinggalkan Ulasan</h3>
                <form>
                  <div class="input-group">
                    <textarea type="text" class="form-control"></textarea>
                    <div class="rate-this">
                      <input type="hidden" class="rate-input">
                      <ul>
                        <li><a href="#" data-value="5" class="rate-value"></a></li>
                        <li><a href="#" data-value="4" class="rate-value"></a></li>
                        <li><a href="#" data-value="3" class="rate-value"></a></li>
                        <li><a href="#" data-value="2" class="rate-value"></a></li>
                        <li><a href="#" data-value="1" class="rate-value"></a></li>
                      </ul>
                    </div>
                    <span class="ratestar">
                    <button class="btn-white btn-star ratestar-btn"><i class="fa fa-star"></i> <span>Rate <i></i></span></button>
                    </span>
                    <span class="send">
                    <button class="btn-default">KIRIM</button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="single-tab" id="panduan">
        <section class="location-content single-pagesv2 kuliner-single akomodasi-content">
          <div class="container">
            <div class="page-detail">
              <div class="sidebar">
                <div class="map-content sidebar-section">
                  <h3>Info Akomodasi</h3>
                  <div class="box box-list">
                    <ul>
                      <li>
                        <div class="map">
                          <iframe src="https://maps.google.com/maps?q=<%= datas.data.lat %>,<%= datas.data.lng %>&hl=en&z=14&output=embed" width="100%" height="222" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                        <i class="from-icon"></i> <strong><%= datas.data.address %></strong>
                        <span>Powered by Google Maps</span>
                      </li>
                      <li>
                        <i class="place-icon"></i>
                        <strong>Property Type</strong>
                        <span><%= datas.data.propertyType %></span>
                      </li>
                      <li>
                        <i class="phone-icon"></i>
                        <strong>Phone Number</strong>
                        <span><%= datas.data.phone %></span>
                      </li>
                      <li>
                        <i class="url-icon"></i>
                        <strong>Website</strong>
                        <span><%= datas.data.website %></span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="direction-content sidebar-section">
                  <h3>Menuju Kesini?</h3>
                    <div class="box">
                        <div class="tab-content">
                            <div id="driving" class="tab-pane active">
                                <ul>
                                    <li>
                                        <div class="timeline-direction timeline-start">
                                            <i class="from-icon"></i>
                                            <strong><%= datas.data.howToGetThere.from %></strong>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="timeline-direction timeline-finish">
                                            <i class="target-icon"></i>
                                            <strong><%= datas.data.name %></strong>
                                            <span><%= datas.data.address %></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-budget">
                                            <div class="row">
                                                <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_time %></strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_cost %></strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_distance %></strong></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="train" class="tab-pane ">
                                <ul>
                                    <li>
                                        <div class="timeline-direction timeline-start">
                                            <i class="from-icon"></i>
                                            <strong><%= datas.data.howToGetThere.from %></strong>
                                        </div>
                                    </li>
                                    <% var stepLength=datas.data.howToGetThere.modes.train.detail_steps.length; 
                                     datas.data.howToGetThere.modes.train.detail_steps.forEach( function(step, index) { 
                                        if (index<stepLength-1&& index>0){ %>
                                        <li>
                                            <div class="timeline-direction timeline-center">
                                                <i class="from-icon"></i>
                                                <strong><%= step.name %></strong>
                                                <span><%= step.address %></span>
                                            </div>
                                        </li>
                                        <% } %>
                                    <% }); %>
                                    <li>
                                        <div class="timeline-direction timeline-finish">
                                            <i class="target-icon"></i>
                                            <strong><%= datas.data.name %></strong>
                                            <span><%= datas.data.address %></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-budget">
                                            <div class="row">
                                                <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_time %></strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_cost %></strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_distance %></strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6"><span> Rekomendasi</span></div>
                                                <div class="col-xs-6"><strong>
                                                    <%= datas.data.howToGetThere.modes.train.display.recommendations %>
                                                </strong></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="plane" class="tab-pane">
                                <ul>
                                    <li>
                                        <div class="timeline-direction timeline-start">
                                            <i class="from-icon"></i>
                                            <strong><%= datas.data.howToGetThere.from %> <%= ip %></strong>
                                        </div>
                                    </li>
                                    <% var stepLength=datas.data.howToGetThere.modes.plane.detail_steps.length; 
                                     datas.data.howToGetThere.modes.plane.detail_steps.forEach( function(step, index) { 
                                        if (index<stepLength-1&& index>0){ %>
                                        <li>
                                            <div class="timeline-direction timeline-center">
                                                <i class="from-icon"></i>
                                                <strong><%= step.name %></strong>
                                                <span><%= step.address %></span>
                                            </div>
                                        </li>
                                        <% } %>
                                    <% }); %>
                                    <li>
                                        <div class="timeline-direction timeline-finish">
                                            <i class="target-icon"></i>
                                            <strong><%= datas.data.name %></strong>
                                            <span><%= datas.data.address %></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-budget">
                                            <div class="row">
                                                <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_time %></strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_cost %></strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_distance %></strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6"><span> Rekomendasi</span></div>
                                                <div class="col-xs-6"><strong>
                                                    <%= datas.data.howToGetThere.modes.plane.display.recommendations %>
                                                </strong></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>  
                        <div class="directions-by">
                            <ul class="clearfix nav nav-tabs">
                                <li class="active col-md-3 col-lg-3 col-sm-3">
                                <a href="#driving">
                                    <i class="car-icon"></i>
                                </a></li>
                            <li class="col-md-3 col-lg-3 col-sm-3">
                                <a href="#train"><i class="train-icon"></i></a></li class="col-md-3 col-lg-3 col-sm-3">
                            <li class="col-md-3 col-lg-3 col-sm-3">
                                <a href="#plane"><i class="plane-icon"></i></a></li>
                            </ul>
                        </div>
                        <p class="powered-by-google">Powered by Google Maps</p>
                    </div>
                </div>
                <% if(datas.data.reviews.expert.data.length>0) { %>                            
                <div class="review-content sidebar-section">
                  <h3>Ulasan dari pakar</h3>
                  <div class="box">
                    <p>“The southern tip is also world-renowned for its prime surfing spots such as Padang Padang and Uluwatu. Further inland is Ubud, a hill town known for its spa treatments, yoga and ecotourism, which may include a trip to a monkey preserve”. Ringing the island are coral reefs teeming with sea life, making it a hot spot”</p>
                    <div class="note">
                      <div class="row">
                        <div class="col-xs-6">
                          <span class="created">October 27, 2017</span>
                        </div>
                        <div class="col-xs-6">
                          <input type="text" class="rating" value="4.5" readonly="readonly">
                        </div>
                      </div>
                    </div>
                    <div class="author">
                      <img src="" class="avatar" alt="">
                      <strong>Joni Bergino</strong>
                      <span>Penulis &amp; Traveler di www.freaktraveler.com</span>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="single-tab" id="artikel">
        <% if(storidatas.length>0){ %>
        <section class="rated-content no-padd-right">
          <div class="container">
            <div class="row">
              <h4>Stories Terkait</h4>              
              <div class="main-carousel">
                <% storidatas.forEach(function(stori,index) { %>
                <div class="carousel-cell item">
                  <div class="box">
                    <a href="<%
                                var link=stori.link;
                                link=link.replace('https://admin.travelingyuk.com/', baseUrl); %><%= link %>">
                                <img id="media<%= index %>" src=""  alt="<%= stori.title.rendered %>">   
                            </a>    
                    <h5><a href="<%= link %>"><%= stori.title.rendered %></a></h5>
                    <span class="created"><time class="created modified timeago" datetime="<%= stori.date %>"><%= stori.date %></time></span>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </section>
        <% } %>
      </div>
    </div>
    <a href="#" class="back-to-top">
      <div class="back-top"></div>
    </a>
    <div class="share-single">
      <ul>
        <li><a href="#" class="facebook"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li><a href="#" class="whatsapp"></a></li>
        <li><a href="#" class="line"></a></li>
        <li><a href="#" class="instagram"></a></li>
        <li><a href="#" class="more"></a></li>
      </ul>
    </div>


<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
    var stori= <%- storibody %>;
</script>
<script  crossorigin src="/javascripts/m/akomodasi.js?ver=1" type="text/javascript" charset="utf-8" async defer></script>
<% include partials/footer %>