<% include partials/meta %>        
        <title>Travelingyuk</title>
        <meta name="description" content="">        
    </head>
    <body>
        <div id="fb-root"></div>
<% include partials/header %>

    <div class="paddingHeader">
      <section class="hero-banner">
        <div class="bg-hero" data-src="<%= baseUrl %>images/m/akomodasi/banner.jpg" >
          <div class="container">
            <div class="caption clearfix">
              <h1>Pilih Akomodasimu</h1>
              <p>Ribuan list akomodasi yang sesuai dengan pilihanmu untuk rencana liburanmu</p>
            </div>
            <div class="search-form">
              <form action="search" method="GET">
                <div class="input-group with-icons">
                  <input class="typehead-click" type="text" placeholder="Tuliskan yang mau kamu cari.."  name="keyword" required><button type="submit">CARI SEKARANG</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <% datas.data.forEach(function(el,idx) { %>
      <% if (el.data.data.length>0) { %>
      <section class="rated-content no-padd-right">
        <div class="container">
          <div class="row">
            <h4><%= el.title %></h4>
            <div class="main-carousel">
              <% el.data.data.forEach(function(pilihan) { %>                    
              <div class="carousel-cell item">
                <div class="box">
                  <a href="/akomodasi/<%= pilihan.slug  %>/<%= pilihan.id  %>">
                    <div class="box-img">
                        <% if (pilihan.images.length>0) { %>
                        <img  data-flickity-lazyload="<% var imgsrc=pilihan.images[0];
                                imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= pilihan.name  %>"> 
                        <% } %>
                    </div>
                    <h5><a href="/akomodasi/<%= pilihan.slug  %>/<%= pilihan.id  %>"><%= pilihan.name  %></a></h5>
                  </a>
                  <p><b><%= pilihan.location.name  %></b> . <span><span><%= pilihan.propertyType  %></span></p>
                  <ul>
                    <li><input type="text" class="rating" value="<%= pilihan.rating  %>" readonly="readonly"></li>
                    <li><span><%= pilihan.review  %> reviews</span></li>
                  </ul>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </section>
      <% } %>
      <% }); %>

    </div>

<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
    var stori= [];
</script>
<script  crossorigin src="/javascripts/m/akomodasi.js?ver=3" type="text/javascript" charset="utf-8" async defer></script>
<script crossorigin src="/javascripts/react.production.min.js" ></script>
    <script crossorigin src="/javascripts/react-dom.production.min.js"></script>
    <script crossorigin src="/javascripts/babel.min.js"></script>
    <script src="/javascripts/m/rakomodasi.js?ver=1"></script>
<% include partials/footer %>