<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>
        
        <meta name="msapplication-tap-highlight" content="no">
        
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">

        
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
    </head>
    <body>
    <% include partials/dheader %>
    <section class="hero-banner">
        <div class="bg-hero" style="background-image: url(images/akomodasi/banner.jpg)">
            <div class="container">
                <div class="caption clearfix">
                    <h1>Pilih Akomodasimu</h1>
                    <p>Ribuan list akomodasi yang sesuai dengan pilihanmu untuk rencana liburanmu</p>
                </div>
                <div class="search-form">
                    <form class="hero-forms"  action="search" method="get">
                        <div class="input-group with-icons">
                            <input class="typeahead" type="text" placeholder="Tuliskan yang mau kamu cari.." name="keyword" required>
                            <button class="btn-default" type="submit">
                                <span class="text">CARI SEKARANG</span>
                                <span class="search-animation">
                                    <span></span><span></span><span></span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <% datas.data.forEach(function(el,idx) { %>
    <% if(datas.data[idx].data.data.length > 0) { %>
    <section class="rated-content" id="app">
        <div class="container">
            <div class="row">
                <h3><%= el.title %></h3>
                <h5 class="more-content"><a href="/akomodasi/view/<%= el.slug %>">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
                <div class="owl-carousel owl-theme">
                    <% el.data.data.forEach(function(pilihan) { %>
                    <div class="item">
                        <div class="box">
                            <a href="/akomodasi/<%= pilihan.slug  %>/<%= pilihan.id  %>">
                                <% if (pilihan.images.length>0) { %>
                                <img src="<% var imgsrc=pilihan.images[0];
                                imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" class="img-responsive" alt="<%= pilihan.name  %>">
                                <% } %>
                            </a>
                            <h5><a href="/akomodasi/<%= pilihan.slug  %>/<%= pilihan.id  %>"><%= pilihan.name  %></a></h5>
                            <p><b><%= pilihan.location.name  %></b> . <span><%= pilihan.propertyType  %></span></p>
                            <ul>
                                <li><input type="text" class="rating" value="<%= pilihan.rating  %>" readonly="readonly"></li>
                                <li><span><%= pilihan.review  %> reviews</span></li>
                            </ul>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>  
    </section>
    <% } %>
    <% }); %>
    <script type="text/javascript">
        var akomodasi= <%- body %>;
        console.log(akomodasi);    
        var stori = []; 
    </script>
    <script src="/javascripts/d/akomodasi.js"></script>
    <script crossorigin src="/javascripts/react.production.min.js" ></script>
    <script crossorigin src="/javascripts/react-dom.production.min.js"></script>
    <script crossorigin src="/javascripts/babel.min.js"></script>
    <script src="/javascripts/d/rakomodasi.js?ver=3"></script>
<% include partials/dfooter %>