<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>
        
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
        
    </head>
    <body>
<% include partials/dheader %>
    <section class="hero-banner">
        <div class="bg-hero">
            <div class="container">
                <div class="caption clearfix">
                	<h1>Let's Travel Now!</h1>
                	<p><%= datas.data.summary.tourisms %> Travel Destinations, <%= datas.data.summary.events %>+ Tourist Attractions, <%= datas.data.summary.accommodations %>+ Accomodation and <%= datas.data.summary.culinaries %>+ Culinaries waiting to explore...</p>
                </div>
                <div class="search-form">
                    <form class="hero-forms" action="search" method="get">
                    	<div class="input-group with-icons">
                    		<input class="typeahead" type="text" placeholder="Tuliskan yang mau kamu cari.." name="keyword" required>
                            <button class="btn-default" type="submit">
                                <span class="text">CARI SEKARANG</span>
                                <span class="search-animation">
                                    <span></span><span></span><span></span>
                                </span>
                            </button>
                    	</div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <section class="featured-content">
    	<div class="container">
    		<div class="row">
                <div class="col-lg-12">
                    <h3>Yuk Jelajahi Travelingyuk</h3>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <a href="/lokasi">
                                   <img src="images/featured/1.jpg" class="img-responsive" alt="">
                                   <h4>Lokasi</h4>
                                </a>
                                <p>Kota, Kabupaten, dan Pulau - Pulau Tujuan wisata di Indonesia</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <a href="/objek-wisata">
                                    <img src="images/featured/2.jpg" class="img-responsive" alt="">
                                    <h4>Objek Wisata</h4>
                                </a>
                                <p>Tempat-tempat wisata yang tersebar di seluruh indonesia</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <a href="/akomodasi">
                                    <img src="images/featured/3.jpg" class="img-responsive" alt="">
                                    <h4>Akomodasi</h4>
                                </a>
                                <p>Hotel, Hostel, Vila, Resort, Guest House yang berada di indonesia</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="box">
                                <a href="/kuliner">
                                    <img src="images/featured/4.jpg" class="img-responsive" alt="">
                                    <h4>Kuliner</h4>
                                </a>
                                <p>Tempat-tempat makan yang lolak dan khas di seluruh indonesia</p>
                            </div>
                        </div>
                    </div>
                </div>
    		</div>
    	</div>
    </section>
    <br>

    <section class="rated-content">
    	<div class="container">
    		<div class="row">
                <div class="col-lg-12">
        			<h3>Lokasi Terbaik</h3>
                    <h5 class="more-content"><a href="/lokasi">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>        			
                    <div class="owl-carousel owl-theme">
                        <% datas.data.locations.data.data.forEach(function(lokasi) { %>
                            <div class="item">
                                <div class="box">
                                    <a href="/lokasi/<%= lokasi.slug %>/<%= lokasi.id %>" class="box-img">
                                        <% if(lokasi.images.length>0) { %>
                                        <img src="<% var imgsrc=lokasi.images[0];
                                        imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                        imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                        imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" class="img-responsive" alt="<%= lokasi.name %>">
                                        <% } %>    
                                    </a>
                                    <h5>
                                        <a href="/lokasi/<%= lokasi.slug %>/<%= lokasi.id %>"><%= lokasi.name %></a>
                                    </h5>
                                    <ul>
                                        <li><input type="text" class="rating" value="<%= lokasi.rating %>" readonly="readonly"></li>
                                        <li><span><%= lokasi.review %> reviews</span></li>
                                    </ul>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
    		</div>
    	</div>	
    </section>

    <section class="rated-content">
    	<div class="container">
    		<div class="row">
                <div class="col-lg-12">
        			<h3>Objek Wisata Terbaik</h3>
                    <h5 class="more-content"><a href="/objek-wisata">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
                    <div class="owl-carousel owl-theme">
                        <% datas.data.tourisms.data.data.forEach(function(objek) { %>
                        <div class="item">
                            <div class="box">
                                <a href="/objek-wisata/<%= objek.slug %>/<%= objek.id %>" class="box-img">
                                    <% if(objek.images.length>0) { %>
                                    <img src="<% var imgsrc=objek.images[0];
                                    imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                    imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                    imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" class="img-responsive" alt="<%= objek.name %>">
                                    <% } %>  
                                </a>
                                <h5>
                                    <a href="/objek-wisata/<%= objek.slug %>/<%= objek.id %>"><%= objek.name %></a>
                                </h5>
                                <p><b><%= objek.location.name %></b> - <span><%= objek.attractionType[0] %></span></p>
                                <ul>
                                    <li><input type="text" class="rating" value="<%= objek.rating %>" readonly="readonly"></li>
                                    <li><span><%= objek.review %> reviews</span></li>
                                </ul>
                            </div>
                        </div>
                        <% }); %>
                    </div>          
                </div>      
    		</div>
    	</div>	
    </section>

    <section class="rated-content">
    	<div class="container">
    		<div class="row">
                <div class="col-lg-12">
        			<h3>Akomodasi Pilihan</h3>
                    <h5 class="more-content"><a href="/akomodasi">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
                    <div class="owl-carousel owl-theme">
                        <% datas.data.accommodations.data.data.forEach(function(akomodasi) { %>
                        <div class="item">
                            <div class="box">
                                <a href="/akomodasi/<%= akomodasi.slug %>/<%= akomodasi.id %>" class="box-img">
                                    <% if(akomodasi.images.length>0) { %>
                                    <img src="<%
                                    var imgsrc=akomodasi.images[0];
                                    imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                    imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                    imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" class="img-responsive" alt="<%= akomodasi.name %>">
                                    <% } %>   
                                </a>
                                <h5>
                                    <a href="/akomodasi/<%= akomodasi.slug %>/<%= akomodasi.id %>"><%= akomodasi.name %></a>
                                </h5>
                                <p><b><%= akomodasi.location.name %></b> - <span><%= akomodasi.propertyType %></span></p>
                                <ul>
                                    <li><input type="text" class="rating" value="<%= akomodasi.rating %>" readonly="readonly"></li>
                                    <li><span><%= akomodasi.review %> reviews</span></li>
                                </ul>
                            </div>
                        </div>
                        <% }); %>
                    </div>
        		</div>
            </div>
    	</div>	
    </section>

    <section class="rated-content">
    	<div class="container">
    		<div class="row">
                <div class="col-lg-12">
        			<h3>Kuliner Pilihan</h3>
                    <h5 class="more-content"><a href="/kuliner">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
                    <div class="owl-carousel owl-theme">
                        <% datas.data.culinaries.data.data.forEach(function(kuliner) { %>
                        <div class="item">
                            <div class="box">
                                <a href="/kuliner/<%= kuliner.slug %>/<%= kuliner.id %>" class="box-img">
                                    <% if(kuliner.images.length>0) { %>
                                    <img src="<%
                                    var imgsrc=kuliner.images[0];
                                    imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                    imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                    imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" class="img-responsive" alt="<%= kuliner.name %>"> 
                                    <% } %>
                                </a>
                                <h5>
                                    <a href="/kuliner/<%= kuliner.slug %>/<%= kuliner.id %>"><%= kuliner.name %></a>
                                </h5>
                                <p><b><%= kuliner.location.name %></b> - <span><%= kuliner.cuisine.name %></span></p>
                                <ul>
                                    <li><input type="text" class="rating" value="<%= kuliner.rating %>" readonly="readonly"></li>
                                    <li><span><%= kuliner.review %> reviews</span></li>
                                </ul>
                            </div>
                        </div>
                        <% }); %>
                    </div>    
                </div>            
    		</div>
    	</div>	
    </section>

    <section class="rated-content v2">
    	<div class="container">
    		<div class="row">
                <div class="col-lg-12"> 
                    <h3>Latest Stories</h3>
                    <div class="owl-carousel owl-theme">
                        <% storidatas.recent.forEach(function(stori, index) { %>
                        <div class="item">
                            <div class="box">
                                <a href="<%= stori.permalink %>" class="box-img">
                                    <img src="<%= stori.fi %>" class="img-responsive" alt="<%= stori.post_title %>">
                                </a>
                                <h5><a href="<%= stori.permalink %>"><%= stori.post_title %></a></h5>
                                <p><span><b><time class="timeago modified" datetime="<%= stori.date %>"><%= stori.date %></time></b></span></p>
                            </div>
                        </div>
                        <% }); %>
                    </div>    
                </div>            
    		</div>
    	</div>	
    </section>

   	<section class="featured-stories">
		<div class="container">
			<div class="row">
                <div class="col-lg-12">
       				<h3>Featured Stories</h3>
                    <div class="row">
        				<div class="col-md-8">
                            <a href="<%= storidatas.feature[0].permalink %>">
            					<div class="featured-box">
            						<img src="<%= storidatas.feature[0].fi %>" alt="<%= storidatas.feature[0].post_title %>" class="big" style="width:100%">
            						<div class="caption">
            							<br>
            							<span class="label">Featured</span>
            							<div class="text">
            								<h2><%=storidatas.feature[0].post_title %></h2>
            								<time  class="timeago modified" datetime="<%= storidatas.feature[0].date %>"><%= storidatas.feature[0].date %></time>
            							</div>
            						</div>
            					</div>
                            </a>
        				</div>
        				<div class="col-md-4">
                            <div class="row">
            					<div class="col-md-12 col-xs-6 col-sm-6">
                                    <a href="<%= storidatas.feature[1].permalink %>">
                						<div class="featured-box">
                                            <img src="<%= storidatas.feature[1].fi %>" class="img-responsive" alt="<%= storidatas.feature[1].post_title %>">
                							<div class="caption">
                								<br>
                								<span class="label">Featured</span>
                								<div class="text">
                									<h5><%= storidatas.feature[1].post_title %></h5>
                									<time  class="timeago modified" datetime="<%= storidatas.feature[1].date %>"><%= storidatas.feature[1].date %></time>
                								</div>
                							</div>
                						</div>
                                    </a>
            					</div>
            					<div class="col-md-12 col-xs-6 col-sm-6">
                                    <a href="<%= storidatas.feature[2].permalink %>">
            						<div class="featured-box">
            							<img src="<%= storidatas.feature[2].fi %>" class="img-responsive" alt="<%= storidatas.feature[2].post_title %>">
            							<div class="caption">
            								<br>
            								<span class="label">Featured</span>
            								<div class="text">
            									<h5><%= storidatas.feature[2].post_title %></h5>
            									<time class="timeago modified" datetime="<%= storidatas.feature[1].date %>"><%= storidatas.feature[1].date %></time>                                                
            								</div>
            							</div>
            						</div>
                                    </a>
            					</div>
                            </div>
        				</div>
                    </div>
                </div>
			</div>
		</div>
   	</section>	
    <script type="text/javascript">
        var stori= <%- storibody %>;
        console.log(stori);
    </script>
    <script src="/javascripts/d/home.js?ver=1" type="text/javascript" charset="utf-8" async defer></script>
     <% include partials/dfooter %>