<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>
        
        <meta name="msapplication-tap-highlight" content="no">
        
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">

        
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
    </head>
    <body>
<% include partials/dheader %>
    <section class="single-content itinerary-content">
        <div class="container">
            <div class="breadrumbs">
                <ul>
                    <li><a href="<%= baseUrl %>">Home</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li><a href="<%= baseUrl %>/itinerari">Itinerary</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li class="active"><a href="<%= baseUrl %>/itinerari/<%= datas.advice.itineraries.data.slug %>/<%= datas.advice.itineraries.data.id %>/"><%= datas.advice.itineraries.data.name %></a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="page-detail">
                <h1 class="titled"><%= datas.advice.itineraries.data.name %></h1>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="img-headline">
                            <div class="img-primary">
                                <img src="<%= datas.advice.itineraries.data.images[0] %>" class="img-responsive" alt="<%= datas.advice.itineraries.data.name %>">
                            </div>
                        </div>

                        <div class="page-description page-section">
                            <div class="paragraph">
                                <%= datas.advice.itineraries.data.information %>
                            </div>
                        </div>
                        <% if(datas.advice.itineraries.data.tips.length>0) { %>
                        <div class="tips-list page-section">
                            <h3>Tips</h3>
                            <ul class="list-check list-box">
                                <% datas.advice.itineraries.data.tips.forEach( function(el, index) { %>
                                    <li><i class="check-icon"></i><span>
                                        <%= el %>
                                    </span></li>
                                <% }); %>
                            </ul>
                        </div>
                        <% } %>
                        
                        <% if(datas.advice.itineraries.data.timePlans.days.length>0) { %>
                        <% datas.advice.itineraries.data.timePlans.days.forEach( function(day, index) { %>
                            <div class="itinerary-day page-section">
                                <h3 class="title-bar">Day <%= index+1 %></h3>
                                <% day.forEach( function(objek, idx) { %>
                                    <h3><%= objek.data.name %></h3>
                                    <% if(objek.type!='transportation'){ %>
                                        <% if (objek.data.images.length>0){ %>
                                            <div class="image">
                                                <div class="img-headline img-previewbox">
                                                    <div class="img-primary">
                                                        <img src="<%= objek.data.images[0] %>" class="img-responsive" alt="<%= objek.data.name %>">
                                                    </div>
                                                    <div class="img-li row-pad-8">
                                                        <div class="row">
                                                            <% objek.data.images.forEach( function(img, indimg) {
                                                                if (indimg>0){ %>
                                                                <div class="col-lg-3 col-md-3 col-sm-3">
                                                                    <a href="">
                                                                        <img src="<%= img %>" data-src="<%= img %>" class="img-responsive" alt="<%= objek.data.name %>">
                                                                    </a>
                                                                </div>
                                                                <% } %>
                                                            <% }); %> 

                                                            <div class="col-lg-3 col-md-3 col-sm-3">
                                                                <div class="lightbox-set">
                                                                     <% objek.data.images.forEach( function(img, indimg) { %>
                                                                    <a href="<%= img %>" data-lightbox="mount-kawi"><img src="<%= img %>" class="img-responsive" alt="<%= objek.data.name %>"></a>
                                                                    <% }); %>
                                                                    <button type="button" class="btn-default" style="height: 100px;border-radius: 3px;">
                                                                        ADD YOUR IMAGE
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                        <% } %>
                                        <div class="box">
                                        <% if (objek.data.information){ %>
                                            <div class="description-section">
                                                <%- objek.data.information %>
                                            </div>
                                        <% } %>
                                        <div><h4><i class="clock-icon"></i> Durasi Berkunjung <span class="right"><%= objek.time %></span></h4></div>
                                            <div class="map-content">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="map">
                                                            <iframe src="https://maps.google.com/maps?q=<%= objek.data.lat %>,<%= objek.data.lng %>&hl=en&z=14&output=embed" width="100%" height="222" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <ul>
                                                            <li>
                                                                <i class="from-icon"></i>
                                                                <strong><%= objek.data.address %></strong>
                                                                <span class="powered-by-google">Powered by Google Maps</span>
                                                            </li>
                                                            <li>
                                                                <i class="attraction-icon"></i>
                                                                <strong>Attraction Types</strong>
                                                                <span><%- objek.data.attractionType %></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                      
                                    <% } else { %>
                                        
                                    <% } %>
                                <% }); %>
                            </div>
                        <% }); %>                        
                        <% } %>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="sidebar">                            
                            <div class="list-content sidebar-section">
                                <h3>Itinerary Info</h3>
                                <div class="box box-list">
                                    <ul>
                                        <li>
                                            <i class="attraction-icon"></i>
                                            <strong>Objek Wisata</strong>
                                            <span><%= datas.advice.itineraries.data.timePlans.tourisms %> objek wisata</span>
                                        </li>
                                        <li>
                                            <i class="cuisine-icon"></i>
                                            <strong>Kuliner</strong>
                                            <span><%= datas.advice.itineraries.data.timePlans.culinaries %> kuliner</span>
                                        </li>
                                        <li>
                                            <i class="tips-icon"></i>
                                            <strong>Tips</strong>
                                            <span><%= datas.advice.itineraries.data.tips.length %> Tips Utama</span>
                                        </li>
                                        <li>
                                            <i class="clock-icon"></i>
                                            <strong>Time Plan</strong>
                                            <span><%= datas.advice.itineraries.data.timePlans.days.length %> Hari</span>
                                        </li>
                                        <li>
                                            <i class="review-icon"></i>
                                            <strong>Itinerary ini membantu?</strong>
                                            <div class="feedback">
                                                <button class="btn-thumb"><i class="btn-up"></i></button>
                                                <span class="btn-outer-counter">99</span>
                                                <button class="btn-thumb"><i class="btn-down"></i></button>
                                                <span class="btn-outer-counter">99</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>                            
                            <% if(datas.advice.itineraries.data.timePlans.days.length>0) { %>
                                <div class="collapse-content sidebar-section">
                                    <div class="panel-group" id="itinerary-collapse">
                                        <% datas.advice.itineraries.data.timePlans.days.forEach( function(day, index) { %>
                                            <div class="panel">
                                                <div class="panel-heading <% if (index==0) { %>active<% } %>" role="tab" id="heading<%= index %>">
                                                    <h4 class="panel-title">
                                                        <a role="button" data-parent="#itinerary-collapse" href="#collapse<%= index %>">
                                                            DAY <%= index+1 %>
                                                            <i class="arrow-down arrow-up"></i>
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse<%= index %>" class="panel-collapse collapse <% if (index==0) { %>in<% } %>">
                                                    <div class="panel-body">
                                                        <ul>
                                                            <% day.forEach( function(objek, idx) { 
                                                                if(objek.type!='transportation'){ %>
                                                                    <li>
                                                                        <% if (objek.data.images.length>0){ %>
                                                                            <img src="<%= objek.data.images[0] %>" alt="<%= objek.data.name %>" width="94" height="auto">
                                                                        <% } %>
                                                                        <strong><%= objek.data.name %></strong>
                                                                        <span><%- objek.data.attractionType %></span>
                                                                    </li>
                                                                <% } %>
                                                            <% }); %>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }); %>
                                    </div>
                                </div>                                                    
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<ul class="share-section fixed">
    <li><a href="" class="share-fb"><i class="fb-icon"></i></a></li>
    <li><a href="" class="share-twt"><i class="twt-icon"></i></a></li>
    <li><a href="" class="share-wa"><i class="wa-icon"></i></a></li>
    <li><a href="" class="share-line"><i class="line-icon"></i></a></li>
    <li><a href="" class="share-ig"><i class="ig-icon"></i></a></li>
    <li><a href="" class="share-plus"><i class="plus-icon"></i></a></li>
</ul>
<script src="/javascripts/d/itenenary.js"></script>
<% include partials/dfooter %>