<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
    </head>
    <body>
<% include partials/dheader %>
    <section class="featured-stories">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-8">
                        <div class="featured-box">
                            <a href="/itinerari/<%= datas.data.data.data[0].slug %>/<%= datas.data.data.data[0].id %>">
                                <img src="<%= datas.data.data.data[0].images[0] %>" alt="<%= datas.data.data.data[0].name %>" class="big" style="width:100%">
                            </a>
                            <div class="caption">
                                <span class="label">Featured</span>
                                <div class="text">
                                    <h2><a href="/itinerari/<%= datas.data.data.data[0].slug %>/<%= datas.data.data.data[0].id %>"><%= datas.data.data.data[0].name %></a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 col-xs-6 col-sm-6">
                                <div class="featured-box">
                                    <a href="/itinerari/<%= datas.data.data.data[1].slug %>/<%= datas.data.data.data[1].id %>">
                                        <img src="<%= datas.data.data.data[1].images[0] %>" alt="<%= datas.data.data.data[1].name %>">
                                    </a>
                                    <div class="caption">
                                        <span class="label">Featured</span>
                                        <div class="text">
                                            <h5><a href="/itinerari/<%= datas.data.data.data[1].slug %>/<%= datas.data.data.data[1].id %>"><%= datas.data.data.data[1].name %></a>
                                        </h5></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-6 col-sm-6">
                                <div class="featured-box">
                                    <a href="/itinerari/<%= datas.data.data.data[2].slug %>/<%= datas.data.data.data[2].id %>">
                                        <img src="<%= datas.data.data.data[1].images[0] %>" alt="<%= datas.data.data.data[1].name %>">
                                    </a>
                                    <div class="caption">
                                        <span class="label">Featured</span>
                                        <div class="text">
                                            <h5><a href="/itinerari/<%= datas.data.data.data[2].slug %>/<%= datas.data.data.data[2].id %>"><%= datas.data.data.data[1].name %></a>
                                        </h5></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="rated-content">
        <div class="container">
            <div class="row">
                <h3>Itinerary</h3>
                <div class="owl-carousel owl-theme">
                    <% datas.data.data.data.forEach(function(terbaik) { %>
                    <div class="item">
                        <div class="box">
                            <a href="/itinerari/<%= terbaik.id  %>">
                            	<img src="<%= terbaik.images[0]  %>" alt="<%= terbaik.name  %>">  
                            	<h5><%= terbaik.name  %></h5>
                            </a>
                            <p><b><%= terbaik.location.name  %></b></p>
                            <ul>
                                <li><input type="text" class="rating" value="<%= terbaik.rating  %>" readonly="readonly"></li>
                                <li><span><%= terbaik.review  %> reviews</span></li>
                            </ul>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>  
    </section>
<script src="/javascripts/d/objek-wisata.js"></script>
<% include partials/dfooter %>