<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>        
        <meta name="msapplication-tap-highlight" content="no">        
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
    </head>
    <body>
<% include partials/dheader %>
    <section class="location-content single-pagesv2 kuliner-single">
        <div class="container">
            <div class="breadrumbs">
                <ul>
                    <li><a href="<%= baseUrl %>">Home</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li><a href="<%= baseUrl %>/kuliner">Kuliner</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li class="active"><a href="<%= baseUrl %>/kuliner/<%= datas.data.slug %>/<%= datas.data.id %>"><%= datas.data.name %></a></li>
                </ul>
            </div>

            <div class="page-detail">
                <h1><%= datas.data.name %></h1>
                <div class="marker-location">
                    <p><%= datas.data.address %></p>
                </div>
                <ul class="page-rating">
                    <li><input type="text" class="rating" value="<%= datas.data.rating %>" readonly="readonly"></li>
                    <li><span><%= datas.data.review %> reviews</span></li>
                </ul>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="img-headline img-previewbox">
                            <div class="img-primary ">
                                <% if (datas.data.images.length>0) { %>
                                <img src="<%= datas.data.images[0] %>" class="img-responsive" alt="<%= datas.data.name %>">
                                <% } %>
                            </div>
                            <div class="img-li row-pad-8">
                                <div class="row">
                                    <% if(datas.data.images.length>0) { 
                                        datas.data.images.forEach(function(thumb) { %>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <a href="">
                                            <img src="<%= thumb %>" 
                                            data-src="<%= thumb %>" class="img-responsive" 
                                            alt="<%= datas.data.name %>">
                                        </a>
                                    </div>
                                    <% });
                                    } %>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                         <div class="lightbox-set">
                                            <% if(datas.data.images.length>0) { 
                                                datas.data.images.forEach(function(thumb) { %>
                                                <a href="<%= thumb %>" 
                                                    data-lightbox="mount-kawi">
                                                    <img src="<%= thumb %>" 
                                                    class="img-responsive" 
                                                    alt="<%= datas.data.name %>">
                                                </a>
                                            <% });
                                            } %>
                                            <button type="button" class="btn-default" style="height: 100px;border-radius: 3px;">
                                                ADD YOUR IMAGE
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% if(datas.data.menus.length>0){ %>
                        <div class="menu-list page-section">
                            <h3>Menu</h3>
                            <div class="row">
                                <% datas.data.menus.forEach(function(menus, index) { %>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <a href="">
                                        <img src="<%= menus.images[0] %>" class="img-responsive" alt="<%= menus.name %>" style="border-radius:4px;">
                                    </a>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                        <% } %>
                        <% if(datas.data.information.length>3){ %>
                        <div class="page-description page-section">
                            <h3>Sekilas Info</h3>
                            <div class="paragraph showmore">
                                <%= datas.data.information %>
                            </div>
                        </div>
                        <% } %>
                        <div class="cuisine page-section">
                            <ul>
                                <li class="clearfix">
                                    <h6>Cuisines</h6>
                                    <p><%= datas.data.cuisine.name %></p>
                                </li>
                                <li class="clearfix">
                                    <h6>Kisaran Harga</h6>
                                    <p><%= datas.data.price %></p>
                                </li>
                            </ul>
                        </div>
                        <% if(datas.data.services.length>0){ %>
                        <div class="layanan page-section">
                            <h3>Layanan</h3>
                            <div class="box">
                                <ul>
                                    <% datas.data.services.forEach( function(el, index) { %>
                                        <li><%= el %></li>
                                    <% }); %>
                                </ul>
                            </div>
                        </div>
                        <% } %>
                        <div class="rate-content page-section">
                            <h4>Ulasan tentang <%= datas.data.name %></h4>
                            <div class="btn-rate btn-orange">
                                <strong><%= datas.data.rating %></strong>
                                <span>/5</span>
                            </div>
                            <div class="label-rate">
                                <input type="text" class="rating" value="<%= datas.data.rating %>" readonly="readonly">
                                <span><%= datas.data.review %> reviews</span>
                            </div>
                        </div>

                        <div class="tips-content page-section">                            
                             <% if (datas.data.reviews.common.data.length>0) { %>
                                <h3>Ulasan &amp; Tips</h3>
                                <% datas.data.reviews.expert.data.forEach(function(ulasan){ %>
                                <div class="box">
                                    <div class="author">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <img src="images/avatar.jpg" class="avatar" alt="">
                                                <strong>John Smith <span class="top">Top Review</span></strong>
                                                <input type="text" class="rating" value="4.5" readonly="readonly">
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="created">October 27, 2017</span>
                                            </div>
                                        </div>
                                    </div>
                                    <p>????</p>
                                    <div class="feedback">
                                        <button class="btn-thumb"><i class="btn-up"></i></button>
                                        <span class="btn-outer-counter">99</span>
                                        <button class="btn-thumb"><i class="btn-down"></i></button>
                                        <span class="btn-outer-counter">99</span>
                                        <button class="btn-more"><i class="more-icon"></i></button>
                                    </div>
                                </div>
                             <% }); %>
                            <% } %>
                        </div>

                        <div class="add-review-content page-section">
                            <h3>Tinggalkan Ulasan</h3>
                            <form>
                                <div class="input-group">
                                    <textarea name="review" class="form-control" rows="1"></textarea>
                                    <div class="rate-this">
                                    	<input type="hidden" class="rate-input">
                                    	<ul>
                                    		<li><a href="#" data-value="5" class="rate-value"></a></li>
                                    		<li><a href="#" data-value="4" class="rate-value"></a></li>
                                    		<li><a href="#" data-value="3" class="rate-value"></a></li>
                                    		<li><a href="#" data-value="2" class="rate-value"></a></li>
                                    		<li><a href="#" data-value="1" class="rate-value"></a></li>
                                    	</ul>
                                    </div>
                                    <span class="btn-rate-group">
                                        <button class="btn-white btn-star ratestar-btn"><i class="fa fa-star"></i> Rate <i class="rate-html"></i></button>
                                    </span>
                                    <span>
                                        <button class="btn-default">KIRIM</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="sidebar">

                            <div class="halal-meter">
                                <h4>Halal Meter</h4>
                                <div class="box">
                                    <div class="meter clearfix">
                                        <span class="red"></span>
                                        <span class="yellow"></span>
                                        <span class="green selected"></span>
                                    </div>
                                    <div class="content">
                                        <img src="images/icons/halal-icn.svg" alt="">
                                        <div class="halal-desc">
                                            <p>Semua menu dijamin halal.</p>
                                            <span>48 Reviews</span>
                                        </div>
                                    </div>
                                    <div class="content clearfix">
                                        <p class="howthis">Bagaimana Menurutmu?</p>
                                        <a href="#" class="bereview">+ Kasih Review</a>
                                    </div>
                                </div>
                            </div>

                            <div class="map-content">
                                <h4>Info Kuliner</h4>
                                <div class="box">
                                    <div class="map"><iframe src="https://maps.google.com/maps?q=<%= datas.data.lat %>,<%= datas.data.lng %>&hl=en&z=14&output=embed" width="100%" height="222" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                                    <i class="from-icon"></i> <strong><%= datas.data.address %></strong>
                                    <span>Powered by Google Maps</span>
                                    <div class="types-maps">
                                        <i class="icons cuisine-icn"></i>
                                        <div>
                                            <h6>Cuisines</h6>
                                            <p><%= datas.data.cuisine.name %></p>
                                        </div>
                                    </div>
                                    
                                    <div class="types-maps">
                                        <i class="icons clock-icn"></i>
                                        <div>
                                            <h6>Opening Hours</h6>
                                            <p><% if(datas.data.openHour!=0){ %>
                                                <%= datas.data.openHour %>
                                            <% } %><% if(datas.data.closeHour!=0){ %>
                                                 to <%= datas.data.closeHour %>
                                            <% } %></p>
                                        </div>
                                    </div>

                                    <div class="types-maps">
                                        <i class="icons phone-icn"></i>
                                        <div>
                                            <h6>Phone Number</h6>
                                            <p><%= datas.data.phone %></p>
                                        </div>
                                    </div>
                                    <div class="types-maps">
                                        <i class="icons website-icn"></i>
                                        <div>
                                            <h6>Website</h6>
                                            <p><%= datas.data.website %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="direction-content">
                                <h4>Menuju Kesini?</h4>
                                <div class="box">
                                    <div class="tab-content">
                                        <div id="driving" class="tab-pane active">
                                            <ul>
                                                <li>
                                                    <div class="timeline-direction timeline-start">
                                                        <i class="from-icon"></i>
                                                        <strong><%= datas.data.howToGetThere.from %></strong>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="timeline-direction timeline-finish">
                                                        <i class="target-icon"></i>
                                                        <strong><%= datas.data.name %></strong>
                                                        <span><%= datas.data.address %></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-budget">
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_time %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_cost %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_distance %></strong></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="bus" class="tab-pane ">
                                            <ul>
                                                <li>
                                                    <div class="timeline-direction timeline-start">
                                                        <i class="from-icon"></i>
                                                        <strong><%= datas.data.howToGetThere.from %></strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-direction timeline-finish">
                                                        <i class="target-icon"></i>
                                                        <strong><%= datas.data.name %></strong>
                                                        <span><%= datas.data.address %></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-budget">
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.bus.display.total_time %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.bus.display.total_cost %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.bus.display.total_distance %></strong></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="train" class="tab-pane ">
                                            <ul>
                                                <li>
                                                    <div class="timeline-direction timeline-start">
                                                        <i class="from-icon"></i>
                                                        <strong><%= datas.data.howToGetThere.from %></strong>
                                                    </div>
                                                </li>
                                                <% var stepLength=datas.data.howToGetThere.modes.train.detail_steps.length; 
                                                 datas.data.howToGetThere.modes.train.detail_steps.forEach( function(step, index) { 
                                                    if (index<stepLength-1&& index>0){ %>
                                                    <li>
                                                        <div class="timeline-direction timeline-center">
                                                            <i class="from-icon"></i>
                                                            <strong><%= step.name %></strong>
                                                            <span><%= step.address %></span>
                                                        </div>
                                                    </li>
                                                    <% } %>
                                                <% }); %>
                                                <li>
                                                    <div class="timeline-direction timeline-finish">
                                                        <i class="target-icon"></i>
                                                        <strong><%= datas.data.name %></strong>
                                                        <span><%= datas.data.address %></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-budget">
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_time %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_cost %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_distance %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span> Rekomendasi</span></div>
                                                            <div class="col-xs-6"><strong>
                                                                <%= datas.data.howToGetThere.modes.train.display.recommendations %>
                                                            </strong></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="plane" class="tab-pane">
                                            <ul>
                                                <li>
                                                    <div class="timeline-direction timeline-start">
                                                        <i class="from-icon"></i>
                                                        <strong><%= datas.data.howToGetThere.from %><%= ip %></strong>
                                                    </div>
                                                </li>
                                                <% var stepLength=datas.data.howToGetThere.modes.plane.detail_steps.length; 
                                                 datas.data.howToGetThere.modes.plane.detail_steps.forEach( function(step, index) { 
                                                    if (index<stepLength-1&& index>0){ %>
                                                    <li>
                                                        <div class="timeline-direction timeline-center">
                                                            <i class="from-icon"></i>
                                                            <strong><%= step.name %></strong>
                                                            <span><%= step.address %></span>
                                                        </div>
                                                    </li>
                                                    <% } %>
                                                <% }); %>
                                                <li>
                                                    <div class="timeline-direction timeline-finish">
                                                        <i class="target-icon"></i>
                                                        <strong><%= datas.data.name %></strong>
                                                        <span><%= datas.data.address %></span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-budget">
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_time %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_cost %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_distance %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span> Rekomendasi</span></div>
                                                            <div class="col-xs-6"><strong>
                                                                <%= datas.data.howToGetThere.modes.plane.display.recommendations %>
                                                            </strong></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>  
                                    <div class="directions-by">
                                        <ul class="clearfix nav nav-tabs">
                                            <li class="active col-md-3 col-lg-3 col-sm-3">
                                            <a href="#driving">
                                                <i class="car-icon"></i>
                                            </a></li>
                                        <li class="col-md-3 col-lg-3 col-sm-3">
                                            <a href="#bus"><i class="bus-icon"></i></a></li>
                                        <li class="col-md-3 col-lg-3 col-sm-3">
                                            <a href="#train"><i class="train-icon"></i></a></li class="col-md-3 col-lg-3 col-sm-3">
                                        <li class="col-md-3 col-lg-3 col-sm-3">
                                            <a href="#plane"><i class="plane-icon"></i></a></li>
                                        </ul>
                                    </div>
                                    <p class="powered-by-google">Powered by Google Maps</p>
                                </div>
                            </div>
                             <% if (datas.data.reviews.expert.data.length>0) { %>
                                <div class="review-content page-section">
                                    <h4>Ulasan dari pakar</h4>
                                    <% datas.data.reviews.expert.data.forEach(function(pakar){ %>
                                    <div class="box">
                                        <p>???</p>
                                        <div class="note">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <span class="created">October 27, 2017</span>
                                                </div>
                                                <div class="col-xs-6">
                                                    <input type="text" class="rating" value="4.5" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="author">
                                            <img src="images/avatar.jpg" class="avatar" alt="">
                                            <strong>Joni Bergino</strong>
                                            <span>Penulis &amp; Traveler di www.freaktraveler.com</span>
                                        </div>
                                    </div>
                                    <% }); %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% if(storidatas.length>0){ %>
    <section class="rated-content mb-80">
        <div class="container">
            <div class="row">
                <h3>Stories Terkait</h3>
                <div class="owl-carousel owl-theme">
                     <% storidatas.forEach(function(stori,index) { %>
                    <div class="item">
                        <div class="box">
                            <a href="<%= stori.link %>">
                                <img id="media<%= index %>" src="" class="img-responsive"  alt="<%= stori.title.rendered %>">   
                            </a>
                            <h5>
                                <a href="<%= stori.link %>"><%= stori.title.rendered %></a>
                            </h5>
                            <time class="created modified timeago" datetime="<%= stori.date %>"><%= stori.date %></time>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>  
    </section>
    <% } %>

    <ul class="share-section fixed">
        <li><a href="" class="share-fb"><i class="fb-icon"></i></a></li>
        <li><a href="" class="share-twt"><i class="twt-icon"></i></a></li>
        <li><a href="" class="share-wa"><i class="wa-icon"></i></a></li>
        <li><a href="" class="share-line"><i class="line-icon"></i></a></li>
        <li><a href="" class="share-ig"><i class="ig-icon"></i></a></li>
        <li><a href="" class="share-plus"><i class="plus-icon"></i></a></li>
    </ul>
<script type="text/javascript">
    var stori= <%- storibody %>;
    console.log(stori);
</script>
<script src="/javascripts/d/kuliner.js"></script>
<% include partials/dfooter %>