<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
    </head>
    <body>
<% include partials/dheader %>
    <section class="single-content location-content">
        <div class="container">
            <div class="breadrumbs">
                <ul>
                    <li><a href="<%= baseUrl %>">Home</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li><a href="<%= baseUrl %>/lokasi">Lokasi</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li class="active"><a href="<%= baseUrl %>/lokasi/<%= datas.data.slug %>/<%= datas.data.id %>"><%= datas.data.name %></a></li>
                </ul>
            </div>

            <div class="page-detail">
                <h1><%= datas.data.name %></h1>
                <ul class="page-rating">
                    <li><input type="text" class="rating" value="<%= datas.data.rating %>" readonly="readonly"></li>
                    <li><span><%= datas.data.review %> reviews</span></li>
                </ul>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="img-headline img-previewbox">
                            <div class="img-primary">
                                 <% if(datas.data.images.length>0) { %>
                                <img src="<%= datas.data.images[0] %>" class="img-responsive" alt="<%= datas.data.name %>">
                                <% } %>
                            </div>
                            <div class="img-li row-pad-8">
                                <div class="row">
                                    <% if(datas.data.images.length>0) { 
                                        datas.data.images.forEach(function(thumb) { %>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <a href="">
                                            <img src="<%= thumb %>" 
                                            data-src="<%= thumb %>" class="img-responsive" 
                                            alt="<%= datas.data.name %>">
                                        </a>
                                    </div>
                                    <% });
                                    } %>
                                    <div class="col-lg-3 col-md-3 col-sm-3">
                                        <div class="lightbox-set">
                                            <% if(datas.data.images.length>0) { 
                                                datas.data.images.forEach(function(thumb) { %>
                                                <a href="<%= thumb %>" 
                                                    data-lightbox="mount-kawi">
                                                    <img src="<%= thumb %>" 
                                                    class="img-responsive" 
                                                    alt="<%= datas.data.name %>">
                                                </a>
                                            <% });
                                            } %>
                                            <button type="button" class="btn-default" style="height: 100px;border-radius: 3px;">
                                                ADD YOUR IMAGE
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="explore">
                            <div class="box">
                                <a href="/objek-wisata">
                                    <div class="img-box">
                                        <img src="/images/location/explore1.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="loc-box">
                                        <h5>Objek Wisata</h5>
                                        <span><%= datas.data.tourisms.data.pagination.rowCount %> lists</span>
                                    </div>
                                </a>
                            </div>

                            <div class="box">
                                <a href="/akomodasi">
                                    <div class="img-box">
                                        <img src="/images/location/explore2.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="loc-box">
                                        <h5>Akomodasi</h5>
                                        <span><%= datas.data.accommodations.data.pagination.rowCount %> lists</span>
                                    </div>
                                </a>
                            </div>

                            <div class="box">
                                <a href="/kuliner">
                                    <div class="img-box">
                                        <img src="/images/location/explore3.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="loc-box">
                                        <h5>Kuliner</h5>
                                        <span><%= datas.data.culinaries.data.pagination.rowCount %> lists</span>
                                    </div>
                                </a>
                            </div>

                            <div class="box">
                                <a href="/event">
                                    <div class="img-box">
                                        <img src="/images/location/explore4.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="loc-box">
                                        <h5>Event &amp; Atraksi</h5>
                                        <span><%= datas.data.events.data.pagination.rowCount %> lists</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% if(datas.data.whereToGo.data.data.length>0) { %>
    <section class="rated-content">
        <div class="container">
            <div class="row">
                <h3>Pergi Kemana? <span><%= datas.data.whereToGo.data.data.length %> Lists</span></h3>
                <div class="owl-carousel owl-theme">
                    <% datas.data.whereToGo.data.data.forEach( function(el, index) { %>
                    <div class="item">
                        <div class="box">
                            <a href="/objek-wisata/<%= el.slug %>/<%= el.id %>">
                                <% if (el.images.length>0) { %>
                                <img src="<%
                                var imgsrc=el.images[0];
                                imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= el.name %>">  
                                <% } %>
                                <h5><%= el.name %></h5>
                            </a>
                            <p><b><%= datas.data.name %></b> - <span><%= el.attractionType[0] %></span></p>
                            <ul>
                                <li><input type="text" class="rating" value="<%= el.rating %>" readonly="readonly"></li>
                                <li><span><%= el.review %> reviews</span></li>
                            </ul>
                        </div>
                    </div>    
                    <% }); %>
                </div>
            </div>
        </div>  
    </section>
    <% } %>
    <% if(datas.data.whereToStay.data.data.length>0) { %>
    <section class="rated-content">
        <div class="container">
            <div class="row">
                <h3>Tinggal Dimana? <span><%= datas.data.whereToStay.data.data.length %> Lists</span></h3>
                <div class="owl-carousel owl-theme">
                    <% datas.data.whereToStay.data.data.forEach( function(el, index) { %>
                    <div class="item">
                        <div class="box">
                            <a href="/akomodasi/<%= el.slug %>/<%= el.id %>">
                                <% if (el.images.length>0) { %>
                                <img src="<%
                                var imgsrc=el.images[0];
                                imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" class="img-responsive" alt="<%= el.name %>">
                                <% } %>   
                            </a>
                            <h5><a href="/akomodasi/<%= el.slug %>/<%= el.id %>"><%= el.name %></a></h5>
                            <h6><strong><%= datas.data.name %></strong>  · <span><%= el.propertyType %></span></h6>
                            <ul>
                                <li><input type="text" class="rating" value="<%= el.rating %>" readonly="readonly"></li>
                                <li><span><%= el.review %> reviews</span></li>
                            </ul>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>  
    </section>
    <% } %>
    <% if(datas.data.whereToEat.data.data.length>0) { %>
    <section class="rated-content">
        <div class="container">
            <div class="row">
                <h3>Makan Dimana? <span><%= datas.data.whereToEat.data.data.length %> Lists</span></h3>
                <div class="owl-carousel owl-theme">
                    <% datas.data.whereToEat.data.data.forEach( function(el, index) { %>
                    <div class="item">
                        <div class="box">
                            <a href="/kuliner/<%= el.slug %>/<%= el.id %>">
                                <% if (el.images.length>0) { %>
                                <img src="<%
                                var imgsrc=el.images[0];
                                imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" class="img-responsive" alt="<%= el.name %>"> 
                                <% } %>
                            </a>
                            <h5><a href="/kuliner/<%= el.slug %>/<%= el.id %>"><%= el.name %></a></h5>
                            <p><b><%= datas.data.name %></b> - <span><%= el.cuisine.name %></span></p>
                            <ul>
                                <li><input type="text" class="rating" value="<%= el.rating %>" readonly="readonly"></li>
                                <li><span><%= el.review %> reviews</span></li>
                            </ul>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>  
    </section>
    <% } %>
    <section class="single-content location-content">
        <div class="container">
            <div class="page-detail">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <% if(datas.data.information.length>3){ %>
                        <div class="page-description page-section">
                            <h3>Sekilas Info</h3>
                            <div class="paragraph showmore">
                                <%= datas.data.information %>
                            </div>
                        </div>
                        <% } %>
                        <% if (datas.data.reviews.expert.data.length>0) { %>
                        <div class="review-content page-section">
                            <h3>Ulasan dari pakar</h3>
                            <% datas.data.reviews.expert.data.forEach( function(el, idx) { %>
                            <div class="box">
                                <%= el.review %>
                                <div class="note">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <span class="created"><time class="timeago modified" datetime="<%= el.updatedAt %>"><%= el.updatedAt %></time></span>
                                        </div>
                                        <div class="col-xs-6">
                                            <input type="text" class="rating" value="<%= el.rating %>" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="author">
                                    <img src="<%= el.user.avatar %>" class="avatar" alt="<%= el.user.firstName %> <%= el.user.lastName %>">
                                    <strong><%= el.user.firstName %> <%= el.user.lastName %></strong>
                                    <span><%= el.user.information %></span>
                                </div>
                            </div>
                            <% }); %> 
                        </div>
                        <% } %>

                        <div class="rate-content page-section">
                            <h4>Ulasan tentang <%= datas.data.name %></h4>
                            <div class="btn-rate btn-orange">
                                <strong><%= datas.data.rating %></strong>
                                <span>/5</span>
                            </div>
                            <div class="label-rate">
                                <input type="text" class="rating" value="<%= datas.data.rating %>" readonly="readonly">
                                <span><%= datas.data.review %> reviews</span>
                            </div>
                        </div>

                        <div class="tips-content page-section">                            
                            <% if (datas.data.reviews.common.data.length>0) { %>
                                <h3>Ulasan &amp; Tips</h3>
                                <% datas.data.reviews.common.data.forEach(function(el,idx){ %>
                                <div class="box">
                                    <div class="author">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <img src="<%= el.user.avatar %>" class="avatar" alt="<%= el.user.firstName %> <%= el.user.lastName %>">
                                                <strong><%= el.user.firstName %> <%= el.user.lastName %> <span class="top">Top Review</span></strong>
                                                <input type="text" class="rating" value="<%= el.rating %>" readonly="readonly">
                                            </div>
                                            <div class="col-xs-6">
                                                <span class="created"><time class="timeago modified" datetime="<%= el.updatedAt %>"><%= el.updatedAt %></time></span>
                                            </div>
                                        </div>
                                    </div>
                                    <%= el.review %>
                                    <div class="feedback">
                                        <button class="btn-thumb"><i class="btn-up"></i></button>
                                        <span class="btn-outer-counter">99</span>
                                        <button class="btn-thumb"><i class="btn-down"></i></button>
                                        <span class="btn-outer-counter">99</span>
                                        <button class="btn-more"><i class="more-icon"></i></button>
                                    </div>
                                </div>
                                <% }); %>
                            <% } %>
                        </div>

                        <div class="add-review-content page-section">
                            <h3>Tinggalkan Ulasan</h3>
                            <form>
                                <div class="input-group">
                                    <textarea name="review" class="form-control" rows="1"></textarea>
                                    <div class="rate-this">
                                    	<input type="hidden" class="rate-input">
                                    	<ul>
                                    		<li><a href="#" data-value="5" class="rate-value"></a></li>
                                    		<li><a href="#" data-value="4" class="rate-value"></a></li>
                                    		<li><a href="#" data-value="3" class="rate-value"></a></li>
                                    		<li><a href="#" data-value="2" class="rate-value"></a></li>
                                    		<li><a href="#" data-value="1" class="rate-value"></a></li>
                                    	</ul>
                                    </div>
                                    <span class="btn-rate-group">
                                        <button class="btn-white btn-star ratestar-btn"><i class="fa fa-star"></i> Rate <i class="rate-html"></i></button>
                                    </span>
                                    <span>
                                        <button class="btn-default">KIRIM</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="sidebar">

                            <div class="map-content sidebar-section">
                                <h3>Peta</h3>
                                <div class="box">
                                    <div class="map"><iframe src="https://maps.google.com/maps?q=<%= datas.data.lat %>,<%= datas.data.lng %>&hl=en&z=14&output=embed" width="100%" height="222" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                                    <i class="from-icon"></i> <strong><%= datas.data.name %></strong>
                                    <span>Powered by Google Maps</span>
                                </div>
                            </div>

                            <div class="direction-content sidebar-section">
                                <h3>Menuju Kesini?</h3>
                                <div class="box">
                                    <ul class="nav nav-tabs">
                                        <li class="active col-md-3 col-lg-3 col-sm-3">
                                            <a href="#driving">
                                                <i class="car-icon"></i>
                                            </a></li>
                                        <li class="col-md-3 col-lg-3 col-sm-3">
                                            <a href="#bus"><i class="bus-icon"></i></a></li>
                                        <li class="col-md-3 col-lg-3 col-sm-3">
                                            <a href="#train"><i class="train-icon"></i></a></li class="col-md-3 col-lg-3 col-sm-3">
                                        <li class="col-md-3 col-lg-3 col-sm-3">
                                            <a href="#plane"><i class="plane-icon"></i></a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div id="driving" class="tab-pane active">
                                            <ul>
                                                <li>
                                                    <div class="timeline-direction timeline-start">
                                                        <i class="from-icon"></i>
                                                        <strong><%= datas.data.howToGetThere.from %></strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-direction timeline-finish">
                                                        <i class="target-icon"></i>
                                                        <strong><%= datas.data.name %></strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-budget">
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_time %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_cost %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_distance %></strong></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="bus" class="tab-pane">
                                            <ul>
                                                <li>
                                                    <div class="timeline-direction timeline-start">
                                                        <i class="from-icon"></i>
                                                        <strong><%= datas.data.howToGetThere.from %></strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-direction timeline-finish">
                                                        <i class="target-icon"></i>
                                                        <strong><%= datas.data.name %></strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-budget">
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_time %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.bus.display.total_cost %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_distance %></strong></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="train" class="tab-pane">
                                            <ul>
                                                <li>
                                                    <div class="timeline-direction timeline-start">
                                                        <i class="from-icon"></i>
                                                        <strong><%= datas.data.howToGetThere.from %></strong>
                                                    </div>
                                                </li>
                                                <% var stepLength=datas.data.howToGetThere.modes.train.detail_steps.length; 
                                                 datas.data.howToGetThere.modes.train.detail_steps.forEach( function(step, index) { 
                                                    if (index<stepLength-1&& index>0){ %>
                                                    <li>
                                                        <div class="timeline-direction timeline-center">
                                                            <i class="from-icon"></i>
                                                            <strong><%= step.name %></strong>
                                                            <span><%= step.address %></span>
                                                        </div>
                                                    </li>
                                                    <% } %>
                                                <% }); %>
                                                <li>
                                                    <div class="timeline-direction timeline-finish">
                                                        <i class="target-icon"></i>
                                                        <strong><%= datas.data.name %></strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-budget">
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_time %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_cost %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_distance %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span> Rekomendasi</span></div>
                                                            <div class="col-xs-6"><strong>
                                                                <%= datas.data.howToGetThere.modes.train.display.recommendations %>
                                                            </strong></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="plane" class="tab-pane">
                                            <ul>
                                                <li>
                                                    <div class="timeline-direction timeline-start">
                                                        <i class="from-icon"></i>
                                                        <strong><%= datas.data.howToGetThere.from %></strong>
                                                    </div>
                                                </li>
                                                <% var stepLength=datas.data.howToGetThere.modes.plane.detail_steps.length; 
                                                 datas.data.howToGetThere.modes.plane.detail_steps.forEach( function(step, index) { 
                                                    if (index<stepLength-1&& index>0){ %>
                                                    <li>
                                                        <div class="timeline-direction timeline-center">
                                                            <i class="from-icon"></i>
                                                            <strong><%= step.name %></strong>
                                                            <span><%= step.address %></span>
                                                        </div>
                                                    </li>
                                                    <% } %>
                                                <% }); %>
                                                <li>
                                                    <div class="timeline-direction timeline-finish">
                                                        <i class="target-icon"></i>
                                                        <strong><%= datas.data.name %></strong>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-budget">
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_time %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_cost %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                                            <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_distance %></strong></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6"><span> Rekomendasi</span></div>
                                                            <div class="col-xs-6"><strong>
                                                                <%= datas.data.howToGetThere.modes.plane.display.recommendations %>
                                                            </strong></div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <% if(storidatas.length>0){ %>
    <section class="rated-content mb-80">
        <div class="container">
            <div class="row">
                <h3>Stories Terkait</h3>
                <div class="owl-carousel owl-theme">
                    <% storidatas.forEach(function(stori,index) { %>
                    <div class="item">
                        <div class="box">
                            <a href="<%
                                var link=stori.link;
                                link=link.replace('https://admin.travelingyuk.com/', baseUrl); %><%= link %>">
                                <img id="media<%= index %>" src="" class="img-responsive"  alt="<%= stori.title.rendered %>">   
                            </a>
                            <h5>
                                <a href="<%= link %>"><%= stori.title.rendered %></a>
                            </h5>
                            <time class="created modified timeago" datetime="<%= stori.date %>"><%= stori.date %></time>
                        </div>
                    </div>
                    <% }); %>        
                </div>
            </div>
        </div>  
    </section>
    <% } %>
    <ul class="share-section fixed">
        <li><a href="" class="share-fb"><i class="fb-icon"></i></a></li>
        <li><a href="" class="share-twt"><i class="twt-icon"></i></a></li>
        <li><a href="" class="share-wa"><i class="wa-icon"></i></a></li>
        <li><a href="" class="share-line"><i class="line-icon"></i></a></li>
        <li><a href="" class="share-ig"><i class="ig-icon"></i></a></li>
        <li><a href="" class="share-plus"><i class="plus-icon"></i></a></li>
    </ul>
    <script type="text/javascript">
    var stori= <%- storibody %>;
    console.log(stori);
</script>
<script src="/javascripts/d/location.js"></script>
<% include partials/dfooter %>