<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
    </head>
    <body>
<% include partials/dheader %>
    <section class="hero-banner">
        <div class="bg-hero" style="background-image: url(../images/location/banner.jpg)">
            <div class="container">
                <div class="caption clearfix">
                    <h1>Temukan Destinasimu!</h1>
                    <p>Puluhan destinasi wisata yang tersebar di seluruh Indonesia menantimu untuk di jelajahi…</p>
                </div>
                <div class="search-form">
                    <form class="hero-forms" action="search" method="get">
                        <div class="input-group with-icons">
                            <input type="text" class="location-search" placeholder="Tuliskan yang mau kamu cari.."  name="keyword" required>
                            <button class="btn-default" type="submit">
                                <span class="text">CARI SEKARANG</span>
                                <span class="search-animation">
                                    <span></span><span></span><span></span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <% datas.data.forEach(function(el,idx) { %>
    <% if(datas.data[idx].data.data.length > 0) { %> 
    <section class="rated-content">
        <div class="container">
            <div class="row">
                <h3><%= el.title %></h3>
                <h5 class="more-content"><a href="/lokasi/view/<%= el.slug %>">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
                <div class="owl-carousel owl-theme">
                    <% el.data.data.forEach(function(terbaik) { %>
                    <div class="item">
                        <div class="box">
                            <a href="/lokasi/<%= terbaik.slug  %>/<%= terbaik.id  %>">
                                <img src="<% var imgsrc=terbaik.images[0];
                                imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" class="img-responsive" alt="<%= terbaik.name  %>">
                            </a> 
                            <h5><a href="/lokasi/<%= terbaik.slug  %>/<%= terbaik.id  %>"><%= terbaik.name  %></a></h5>
                            <ul>
                                <li><input type="text" class="rating" value="<%= terbaik.rating  %>" readonly="readonly"></li>
                                <li><span><%= terbaik.review  %> reviews</span></li>
                            </ul>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>  
    </section>
    <% } %>
    <% }); %> 

    <script type="text/javascript">
     var lokasi= <%- body %>;
        console.log(lokasi);    
        var stori = []; 
</script>
<script src="/javascripts/d/location.js"></script>
<script crossorigin src="/javascripts/react.production.min.js" ></script>
    <script crossorigin src="/javascripts/react-dom.production.min.js"></script>
    <script crossorigin src="/javascripts/babel.min.js"></script>
    <script src="/javascripts/rlokasi.js?ver=1"></script>
<% include partials/dfooter %>