<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
    </head>
    <body>
<% include partials/dheader %>
       <div class="sort">
    <div class="container">
        <div class="row">
            <div class="pull-right">
                <p>Sortir dengan:</p>
                <select class="nice-select category">
                    <option value="0">Category</option>
                    <option value="1">Category 1</option>
                    <option value="2">Category 2</option>
                    <option value="3">Category 3</option>
                    <option value="4">Category 4</option>
                </select>
                <select class="nice-select2 rating-icn">
                    <option value="0">Rating</option>
                    <option value="1">Rating 1</option>
                    <option value="2">Rating 2</option>
                    <option value="3">Rating 3</option>
                    <option value="4">Rating 4</option>
                </select>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="breadrumbs">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li><a href="/objek-wisata">Objek Wisata</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li class="active"><a href="javascript:void(0)"><%= datas.data.title %></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row"><h3 class="tittled"><%= datas.data.title %></h3></div>
    </div>
    <br/>
    <% if(datas.status == "success") { %>
    <section class="rated-content location-list">
        <div class="container">
            <div class="row">
                <div class="row-pad-8">
                    <div class="row">
                        <% datas.data.data.data.forEach(function(tourism){%>
                        <div class="col-sm-3 col-xs-6">
                            <div class="item">
                                <div class="box">
                                    <a href="/objek-wisata/<%= tourism.slug  %>/<%= tourism.id  %>">
                                        <% if (tourism.images.length>0) { %>
                                        <img src="<% var imgsrc=tourism.images[0];
                                        imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                                        imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                        imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= tourism.name  %>">
                                        <% } %>  
                                        <h5><%= tourism.name  %></h5>
                                    </a>
                                    <p><b><%= tourism.location.name  %></b> - <span><%= tourism.attractionType[0]  %></span></p>
                                    <ul>
                                        <li><input type="text" class="rating" value="<%= tourism.rating  %>" readonly="readonly"></li>
                                        <li><span><%= tourism.review  %> reviews</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <% } %>

<script src="/javascripts/d/objek-wisata.js"></script>
<% include partials/dfooter %>