<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
    </head>
    <body>
<% include partials/dheader %>
    <section class="hero-banner">
        <div class="bg-hero" style="background-image: url(/images/bg-wisata.jpg)">
            <div class="container">
                <div class="caption clearfix">
                    <h1>Jelajahi Objek Wisata</h1>
                    <p>Ribuan Objek Wisata di Indonesia menunggumu untuk dijelajahi...</p>
                </div>
                <div class="search-form" >
                    <form class="hero-forms" action="search" method="get">
                        <div class="input-group with-icons">
                            <input class="typeahead" type="text" placeholder="Tuliskan yang mau kamu cari.." name="keyword" required>
                            <button class="btn-default" type="submit">
                                <span class="text">CARI SEKARANG</span>
                                <span class="search-animation">
                                    <span></span><span></span><span></span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <% datas.data.forEach(function(el,idx) { %>
    <% if(datas.data[idx].data.data.length > 0) { %> 
    <section class="rated-content">
        <div class="container">
            <div class="row">
                <h3><%= el.title %></h3>
                <h5 class="more-content"><a href="/objek-wisata/view/<%= el.slug %>">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
                <div class="owl-carousel owl-theme">
                    <% el.data.data.forEach(function(terbaik) { %>
                    <div class="item">
                        <div class="box">
                            <a href="/objek-wisata/<%= terbaik.slug  %>/<%= terbaik.id  %>">
                            	<% if (terbaik.images.length>0) { %>
                                <img src="<% var imgsrc=terbaik.images[0];
                                imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= terbaik.name  %>">
                                <% } %>  
                            	<h5><%= terbaik.name  %></h5>
                            </a>
                            <p><b><%= terbaik.location.name  %></b> - <span><%= terbaik.attractionType[0]  %></span></p>
                            <ul>
                                <li><input type="text" class="rating" value="<%= terbaik.rating  %>" readonly="readonly"></li>
                                <li><span><%= terbaik.review  %> reviews</span></li>
                            </ul>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>  
    </section>
    <% } %>
    <% }); %>

    <script type="text/javascript">
        var objek= <%- body %>;
        console.log(objek);    
        var stori = []; 
        var baseUrl = <%- baseUrl %>;
        console.log(baseUrl);
    </script>
<script src="/javascripts/d/objek-wisata.js"></script>
<script crossorigin src="/javascripts/react.production.min.js" ></script>
    <script crossorigin src="/javascripts/react-dom.production.min.js"></script>
    <script crossorigin src="/javascripts/babel.min.js"></script>
    <script src="/javascripts/robjek.js?ver=1"></script>
<% include partials/dfooter %>