<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>
        
        <meta name="msapplication-tap-highlight" content="no">
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
        
    </head>
    <body>
<% include partials/dheader %>
    
    <div class="container">
        <div class="row">
            <div class="breadrumbs">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li><a href="#">Cari</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li class="active"><a href="#">Hasil Pencarian</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="search-page">
        <section class="rated-content home-search">
            <div class="container">
                <div class="row">
                    <h2>Hasil Pencarian untuk “<%= keyword %>” </h2>
                </div>
            </div>  
        </section>   
        <% if(typeof datas.advice.culinaries.data != "undefined"){
            if(datas.advice.culinaries.data.data.length>0){ %>
            <section class="rated-content" id="kulinercnt">
                <div class="container">
                    <div class="row">
                        <h3>Kuliner</h3>
                        <div class="row-pad-8">
                            <div class="row flex flex-wrap owl-carousel owl-box owl-theme">
                                <% datas.advice.culinaries.data.data.forEach(function(kuliner) { %>
                                    <div class="item">
                                        <div class="box">
                                            <a href="/kuliner/<%= kuliner.slug %>/<%= kuliner.id %>">
                                                <% if(kuliner.images.length>0) { %>
                                                <img src="<% var imgsrc=kuliner.images[0];
                                                imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= kuliner.name %>">
                                                <% } %>
                                            </a> 
                                            <h5><a href="/kuliner/<%= kuliner.slug %>/<%= kuliner.id %>">
                                                <%= kuliner.name %></a></h5>
                                            <p><b><%= kuliner.location.name %></b> - <span><%= kuliner.cuisine.name %></span></p>
                                            <ul>
                                                <li><input type="text" class="rating" value="<%= kuliner.rating %>" readonly="readonly"></li>
                                                <li><span><%= kuliner.review %> reviews</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>  
            </section>
        <% }
        } %>
        <% if(typeof datas.advice.tourisms.data != "undefined"){
            if(datas.advice.tourisms.data.data.length>0){ %>
            <section class="rated-content" id="tourismscnt">
                <div class="container">
                    <div class="row">
                        <h3>Objek Wisata</h3>
                        <div class="row-pad-8">
                            <div class="row flex flex-wrap owl-carousel owl-box owl-theme">
                                <% datas.advice.tourisms.data.data.forEach(function(tourism) { %>
                                    <div class="item">
                                        <div class="box">
                                            <a href="/objek-wisata/<%= tourism.slug %>/<%= tourism.id %>">
                                                <% if(tourism.images.length>0) { %>
                                                <img src="<% var imgsrc=tourism.images[0];
                                                imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= tourism.name %>">
                                                <% } %>
                                            </a>
                                            <h5><a href="/objek-wisata/<%= tourism.slug %>/<%= tourism.id %>"><%= tourism.name %></a></h5>
                                            <p><b><%= tourism.location.name %></b> - <span><%= tourism.attractionType[0] %></span></p>
                                            <ul>
                                                <li><input type="text" class="rating" value="<%= tourism.rating %>" readonly="readonly"></li>
                                                <li><span><%= tourism.review %> reviews</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>  
            </section>
        <% }
        } %>
        <% if(typeof datas.advice.accommodations.data != "undefined"){
            if(datas.advice.accommodations.data.data.length>0){ %>
            <section class="rated-content" id="akomodasicnt">
                <div class="container">
                    <div class="row">
                        <h3>Akomodasi</h3>
                        <div class="row-pad-8">
                            <div class="row flex flex-wrap owl-carousel owl-box owl-theme">
                                <% datas.advice.accommodations.data.data.forEach(function(akomodasi) { %>
                                    <div class="item">
                                        <div class="box">
                                            <a href="/akomodasi/<%= akomodasi.slug %>/<%= akomodasi.id %>">
                                                <% if(akomodasi.images.length>0) { %>
                                                <img src="<% var imgsrc=akomodasi.images[0];
                                                imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= akomodasi.name %>"> 
                                                <% } %>
                                            </a>
                                            <h5><a href="/akomodasi/<%= akomodasi.slug %>/<%= akomodasi.id %>"><%= akomodasi.name %></a></h5>
                                            <p><b><%= akomodasi.location.name %></b> - <span><%= akomodasi.propertyType %></span></p>
                                            <ul>
                                                <li><input type="text" class="rating" value="<%= akomodasi.rating %>" readonly="readonly"></li>
                                                <li><span><%= akomodasi.review %> reviews</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>  
            </section>

        <% }
        } %>
        <% if(storidatas.length>0){ %>
            <section class="rated-content" id="tourismscnt">
                <div class="container">
                    <div class="row">
                        <h3>Stories</h3>
                        <div class="row-pad-8">
                            <div class="row flex flex-wrap owl-carousel owl-box owl-theme">
                                <% storidatas.forEach(function(stori,index) { %>
                                    <div class="item">
                                        <div class="box">
                                            <a href="<%= stori.permalink %>">
                                                <img src="<% var imgsrc=stori.fi;
                                                imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= stori.post_title %>">
                                            </a>
                                            <h5><a href="<%= stori.permalink %>"><%= stori.post_title %></a></h5>
                                            <p><span><b>
                                                    <time class="timeago modified" datetime="<%= stori.date %>"><%= stori.date %></time>
                                                </b></span></p>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>  
            </section>
        <% 
        } %>
    </div>
    <script type="text/javascript">
        var body= <%- body %>;
        var stori= <%- storibody %>;
    </script>
    <script src="/javascripts/d/search.js?ver=1" type="text/javascript" charset="utf-8" async defer></script>
     <% include partials/dfooter %>