<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>        
        <meta name="msapplication-tap-highlight" content="no">        
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">        
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
    </head>
    <body>
        <div id="fb-root"></div>
<% include partials/dheader %>
    <section class="location-content single-pagesv2 mb-80">
        <div class="container">
            <div class="breadrumbs">
                <ul>
                    <li><a href="<%= baseUrl %>">Home</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li><a href="/stori">Stories</a></li>
                    <li><i class="arrow-next"></i></li>
                    <li class="active"><a href="<%
                                var link=storidatas.link; 
                                link=link.replace('https://admin.travelingyuk.com/', baseUrl); %><%= link %>"><%= storidatas.title.rendered %></a></li>
                </ul>
            </div>

            <div class="page-detail stories-details">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h1><%= storidatas.title.rendered %></h1>
                        <div class="profile-details clearfix">
                            <div class="profile-stories">
                                <div class="img-raounded" style="background-image: url(<%= authordatas.avatar_urls[96] %>)"></div>
                                <div class="profile-desc">
                                    <h3><%= authordatas.name %></h3>
                                    <div class="date"> <time class="timeago modified" datetime="<%= storidatas.date %>"><%= storidatas.date %></time> On <a href="#"><%= catdatas.name %></a></div>
                                </div>
                            </div>
                            <!-- <div class="action-list">
                                <a href="#"><i class="icons views-icon"></i>216 Views</a>
                            </div> -->
                        </div>

                        <div class="stories-description">
                            <img src="<%= mediadatas.guid.rendered %>" alt="<%= storidatas.title.rendered %>">
                            <label class="label-img"><%= storidatas.title.rendered %></label>
                            <%- storidatas.content.rendered %>
                        </div>
                        <div class="facebook-comment">
                            <div class="fb-comments" data-href="<%= storidatas.link %>" data-width="100%" data-numposts="5"></div>
                        </div>
                        <div class="tag-category">
                            <ul><% storidatas.tags.forEach( function(el, index) { %>
                                <li id="tag<%= el %>"></li>
                            <% }); %>
                            </ul>
                        </div>

                        <div class="pagination-stories clearfix">                           
                            <div class="prev" id="prevstori">                                
                            </div>
                            <div class="next"  id="nextstori">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="featured-story rated-content v2">
                                <h2>Featured Stories</h2>
                                <% featuredatas.forEach( function(el, index) { %>
                                    <div class="item">
                                        <div class="box">
                                            <a href="<%
                                                var link=el.link;
                                                link=link.replace('https://travelingyuk.com/', baseUrl); %><%= link %>" class="box-img" id="feature<%= index %>" >
                                                <img src="" class="img-responsive" alt="<%- el.title.rendered %>"></a>
                                            <h5><a href="<%= link %>"><%- el.title.rendered %></a></h5>
                                            <p><span><b><time class="timeago modified" datetime="<%= el.date %>"><%= el.date %></time></b></span></p>
                                        </div>
                                    </div>   
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <ul class="share-section fixed">
        <li><a href="" class="share-fb"><i class="fb-icon"></i></a></li>
        <li><a href="" class="share-twt"><i class="twt-icon"></i></a></li>
        <li><a href="" class="share-wa"><i class="wa-icon"></i></a></li>
        <li><a href="" class="share-line"><i class="line-icon"></i></a></li>
        <li><a href="" class="share-ig"><i class="ig-icon"></i></a></li>
        <li><a href="" class="share-plus"><i class="plus-icon"></i></a></li>
    </ul>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
    var stori= <%- storibody %>;
    console.log(stori);
    var feature= <%- featurebody %>;
</script>
<script  crossorigin src="/javascripts/d/stories.js" type="text/javascript" charset="utf-8" async defer></script>
<% include partials/dfooter %>