<% var baseUrl='https://dev.travelingyuk.com/';
var menuaktif=''; %>
<!doctype html>
<html lang="id">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Travelingyuk</title>        
        <meta name="msapplication-tap-highlight" content="no">        
        <link rel="stylesheet" href="/stylesheets/d/vendor.min.css">        
        <link rel="stylesheet" href="/stylesheets/d/main.css?v=0.2">
    </head>
    <body>
        <div id="fb-root"></div>
        <% include partials/dheader  %>
        <section class="location-content single-pagesv2 mb-80">
        <div class="container">
        	<div class="page-detail stories-details">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<h1><%= message %></h1>
						<div class="profile-details clearfix">
                            <div class="profile-stories">                               
                                <div class="profile-desc">
                                    <h3><%= error.status %></h3>                                    
                                </div>
                            </div>
                        </div>
						<div class="stories-description">
							<pre><%= error.stack %></pre>
						</div>
					</div>
				</div>
			</div>
		</div>
<% include partials/dfooter %>