<% include partials/meta %>
    <title>Travelingyuk</title>
    <meta name="description" content="">        
</head>
<body>
<% include partials/header %>
    
    <div class="paddingHeader">
        <section class="hero-banner">
            <div class="bg-hero" data-src="<%= baseUrl %>images/m/awann.jpg">
                <div class="container">
                    <div class="caption clearfix">
                        <h1>Let's Travel Now!</h1>
                        <p><%= datas.data.summary.tourisms %> Travel Destinations, <%= datas.data.summary.events %> Tourist Attractions, <%= datas.data.summary.accommodations %> Accomodation and <%= datas.data.summary.culinaries %> Culinaries waiting to explore...</p>
                    </div>
                    <div class="search-form">
                        <form class="home-forms"  action="search" method="get">
                            <div class="input-group with-icons">
                                <input class="typehead-click" type="text" placeholder="Tuliskan yang mau kamu cari.." name="keyword" required>
                                <button type="submit">
                                    <span class="text">CARI SEKARANG</span> 
                                    <span class="search-animation">
                                        <span></span><span></span><span></span>
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="featured-content">
            <div class="container">
                <div class="row">
                    <h4>Yuk Jelajahi Travelingyuk</h4>
                    <div class="featured-row clearfix">
                        <div class="col-xs-12">
                            <div class="box">
                                <a href="/lokasi">
                                    <img data-src="images/m/featured/1.jpg" alt="feaured-image">
                                    <h4>Lokasi</h4>
                                </a>
                                <p>Kota, Kabupaten, dan Pulau - Pulau Tujuan wisata di Indonesia</p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="box">
                                <a href="/objek-wisata">
                                    <img data-src="images/m/featured/2.jpg" alt="feaured-image">
                                    <h4>Objek Wisata</h4>
                                </a>
                                <p>Tempat-tempat wisata yang tersebar di seluruh indonesia</p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="box">
                                <a href="/akomodasi">
                                    <img data-src="images/m/featured/3.jpg" alt="feaured-image">
                                    <h4>Akomodasi</h4>
                                </a>
                                <p>Hotel, Hostel, Vila, Resort, Guest House yang berada di indonesia</p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="box">
                                <a href="/kuliner">
                                    <img data-src="images/m/featured/4.jpeg" alt="feaured-image">
                                    <h4>Kuliner</h4>
                                </a>
                                <p>Tempat-tempat makan yang lolak dan khas di seluruh indonesia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="rated-content no-padd-right">
            <div class="container">
                <div class="row">
                    <h4>Lokasi Terbaik</h4>
                    <h5 class="more-content"><a href="/lokasi">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
                    <div class="main-carousel">
                        <% datas.data.locations.data.data.forEach(function(lokasi) { %>
                            <div class="carousel-cell item">
                                <div class="box">
                                    <a href="/lokasi/<%= lokasi.slug %>/<%= lokasi.id %>">
                                        <div class="box-img">
                                            <% if(lokasi.images.length>0) { %>
                                            <img data-flickity-lazyload="<% var imgsrc=lokasi.images[0];
                                                imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= lokasi.name %>">  
                                            <% } %> 
                                        </div>  
                                        <h5><%= lokasi.name %></h5>
                                    </a>
                                    <ul>
                                        <li><input type="text" class="rating" value="<%= lokasi.rating %>" readonly="readonly"></li>
                                        <li><span><%= lokasi.review %> reviews</span></li>
                                    </ul>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>  
        </section>
        <section class="rated-content no-padd-right">
            <div class="container">
                <div class="row">
                    <h4>Objek Wisata Terbaik</h4>
                    <h5 class="more-content"><a href="/objek-wisata">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
                    <div class="main-carousel">
                        <% datas.data.tourisms.data.data.forEach(function(objek) { %>
                            <div class="carousel-cell item">
                                <div class="box">
                                    <a href="/objek-wisata/<%= objek.slug %>/<%= objek.id %>">
                                        <div class="box-img">
                                            <% if(objek.images.length>0) { %>
                                            <img data-flickity-lazyload="<% var imgsrc=objek.images[0];
                                                imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= objek.name %>">  
                                            <% } %> 
                                        </div>  
                                        <h5><%= objek.name %></h5>
                                    </a>
                                    <ul>
                                        <li><input type="text" class="rating" value="<%= objek.rating %>" readonly="readonly"></li>
                                        <li><span><%= objek.review %> reviews</span></li>
                                    </ul>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>  
        </section>
        <section class="rated-content no-padd-right">
            <div class="container">
                <div class="row">
                    <h4>Akomodasi Pilihan</h4>
                    <h5 class="more-content"><a href="/akomodasi">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
                    <div class="main-carousel">
                        <% datas.data.accommodations.data.data.forEach(function(akomodasi) { %>
                            <div class="carousel-cell item">
                                <div class="box">
                                    <a href="/akomodasi/<%= akomodasi.slug %>/<%= akomodasi.id %>">
                                        <div class="box-img">
                                            <% if(akomodasi.images.length>0) { %>
                                            <img data-flickity-lazyload="<% var imgsrc=akomodasi.images[0];
                                                imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= akomodasi.name %>">  
                                            <% } %> 
                                        </div>  
                                        <h5><%= akomodasi.name %></h5>
                                    </a>
                                    <ul>
                                        <li><input type="text" class="rating" value="<%= akomodasi.rating %>" readonly="readonly"></li>
                                        <li><span><%= akomodasi.review %> reviews</span></li>
                                    </ul>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>  
        </section>
        <section class="rated-content no-padd-right">
            <div class="container">
                <div class="row">
                    <h4>Kuliner Pilihan</h4>
                    <h5 class="more-content"><a href="/kuliner">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
                    <div class="main-carousel">
                        <% datas.data.culinaries.data.data.forEach(function(kuliner) { %>
                            <div class="carousel-cell item">
                                <div class="box">
                                    <a href="/kuliner/<%= kuliner.slug %>/<%= kuliner.id %>">
                                        <div class="box-img">
                                            <% if(kuliner.images.length>0) { %>
                                            <img data-flickity-lazyload="<% var imgsrc=kuliner.images[0];
                                                imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= kuliner.name %>">  
                                            <% } %> 
                                        </div>  
                                        <h5><%= kuliner.name %></h5>
                                    </a>
                                    <ul>
                                        <li><input type="text" class="rating" value="<%= kuliner.rating %>" readonly="readonly"></li>
                                        <li><span><%= kuliner.review %> reviews</span></li>
                                    </ul>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>  
        </section>
        <section class="rated-content v2 no-padd-right">
            <div class="container">
                <div class="row">
                    <h4>Latest Stories</h4>
                    <div class="main-carousel">
                        <% storidatas.recent.forEach(function(stori, index) { %>
                        <div class="carousel-cell">
                            <div class="box">
                                <a href="<%= stori.permalink %>">
                                    <div class="box-img">
                                        <img class="carousel-image"  data-flickity-lazyload="<%= stori.fi %>" alt="<%= stori.post_title %>" width="242" height="139">
                                    </div> 
                                    <h5><%= stori.post_title %></h5>
                                </a>
                                <p><span><b><time class="timeago modified" datetime="<%= stori.date %>"><%= stori.date %></time></b></span></p>
                            </div>
                        </div>
                        <% }); %>
                    </div>                
                </div>
            </div>  
        </section>
        <section class="featured-stories">
            <div class="container">
                <div class="row">
                    <h4>Featured Stories</h4>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="featured-box">
                                <a href="<%= storidatas.feature[0].permalink %>">
                                    <img  data-src="<%= storidatas.feature[0].fi %>" alt="<%= storidatas.feature[0].post_title %>"  class="big" width="100%" >
                                    <div class="caption">
                                        <br>
                                        <span class="label">Featured</span>
                                        <div class="text">
                                            <h5><%= storidatas.feature[0].post_title %></h5>
                                            <span><time  class="timeago modified" datetime="<%= storidatas.feature[0].date %>"><%= storidatas.feature[0].date %></time></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div>
                                    <div class="featured-box">
                                        <a href="<%= storidatas.feature[1].permalink %>">
                                            <img data-src="<%= storidatas.feature[1].fi %>" alt="<%= storidatas.feature[1].post_title %>">
                                            <div class="caption">
                                                <br>
                                                <span class="label">Featured</span>
                                                <div class="text">
                                                    <h5><%= storidatas.feature[1].post_title %></h5>
                                                    <time  class="timeago modified" datetime="<%= storidatas.feature[1].date %>"><%= storidatas.feature[1].date %></time>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="featured-box">
                                        <a href="<%= storidatas.feature[2].permalink %>">
                                            <img data-src="<%= storidatas.feature[2].fi %>"  alt="<%= storidatas.feature[2].post_title %>">
                                            <div class="caption">
                                                <br>
                                                <span class="label">Featured</span>
                                                <div class="text">
                                                    <h5><%= storidatas.feature[2].post_title %></h5>
                                                    <time class="timeago modified" datetime="<%= storidatas.feature[2].date %>"><%= storidatas.feature[2].date %></time>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div> 
    <script type="text/javascript">
        var stori= <%- storibody %>;
        console.log(stori);
    </script>
    <script src="/javascripts/m/home.js?ver=7" type="text/javascript" charset="utf-8" async defer></script>
     <% include partials/footer %>