<% include partials/meta %>        
        <title>Travelingyuk</title>
        <meta name="description" content="">        
    </head>
    <body>
        <div id="fb-root"></div>
<% include partials/header %>
   
   <div class="paddingHeader">
      <div class="content-itinerary">
        <div class="itenary-days showing" id="intro">
          <section class="single-content itinerary-content itinerary">
            <div class="container">
              <div class="page-detail">
                <h4 class="tittled"><%= datas.advice.itineraries.data.name %></h4>
                
                <div class="row">
                  <div class="column">
                    <div class="img-headline">
                      <div class="img-primary">
                        <img src="<%= datas.advice.itineraries.data.images[0] %>" class="img-responsive" alt="<%= datas.advice.itineraries.data.name %>">
                      </div>
                    </div>
                    <div class="page-description page-section">
                      <div class="paragraph">
                         <%= datas.advice.itineraries.data.information %>
                      </div>
                    </div>
                    <% if(datas.advice.itineraries.data.tips.length>0) { %>
                    <div class="tips-list page-section">
                      <h4>Tips</h4>
                      <ul class="list-check list-box">
                        <% datas.advice.itineraries.data.tips.forEach( function(el, index) { %>
                        <li><i class="check-icon"></i><span><%= el %></span></li>
                        <% }); %>
                      </ul>
                    </div>
                    <% } %>
                    <div class="sidebar">
                      <div class="list-content sidebar-section">
                        <h4>Itinerary Info</h4>
                        <div class="box box-list">
                          <ul>
                            <li>
                              <i class="attraction-icon"></i>
                              <strong>Objek Wisata</strong>
                              <span><%= datas.advice.itineraries.data.timePlans.tourisms %> objek wisata</span>
                            </li>
                            <li>
                              <i class="cuisine-icon"></i>
                              <strong>Kuliner</strong>
                              <span><%= datas.advice.itineraries.data.timePlans.culinaries %> kuliner</span>
                            </li>
                            <li>
                              <i class="tips-icon"></i>
                              <strong>Tips</strong>
                              <span><%= datas.advice.itineraries.data.tips.length %> Tips Utama</span>
                            </li>
                            <li>
                              <i class="clock-icon"></i>
                              <strong>Time Plan</strong>
                              <span><%= datas.advice.itineraries.data.timePlans.days.length %> Hari</span>
                            </li>
                            <li>
                              <i class="review-icon"></i>
                              <strong>Itinerary ini membantu?</strong>
                              <div class="feedback">
                                <button class="btn-thumb"><i class="btn-up"></i></button>
                                <span class="btn-outer-counter">99</span>
                                <button class="btn-thumb"><i class="btn-down"></i></button>
                                <span class="btn-outer-counter">99</span>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <% if(datas.advice.itineraries.data.timePlans.days.length>0) { %>
        <% datas.advice.itineraries.data.timePlans.days.forEach( function(day, index) { %>
        <div class="itenary-days" id="days<%= index+1 %>">
          <section class="single-content itinerary-content itinerary">
            <div class="container">
              <div class="page-detail">
                <h3 class="title-bar">Day <%= index+1 %></h3>
                <% day.forEach( function(objek, idx) { %>
                <div class="itinerary-day page-section">
                  <h3 class="accordion-trigger active"><%= objek.data.name %></h3>
                  <% if(objek.type!='transportation'){ %>
                  <div class="content-hide active">
                    <% if (objek.data.images.length>0){ %>
                    <div class="image">
                      <div class="img-headline img-previewbox">
                        <div class="img-primary">
                          <img src="<%= objek.data.images[0] %>" class="img-responsive" alt="<%= objek.data.name %>">
                        </div>
                        <div class="img-li row-pad-8">
                          <div class="row">
                            <div class="owl-carousel owl-box-single owl-theme">
                                <% objek.data.images.forEach( function(img, indimg) {
                                if (indimg>0){ %>
                              <div class="column">
                                <a href="">
                                <img src="<%= img %>" data-src="<%= img %>" class="img-responsive" alt="<%= objek.data.name %>">
                                </a>
                              </div>
                                <% } %>
                                <% }); %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% } %>
                    <div class="box">
                      <% if (objek.data.information){ %>
                      <div class="description-section">
                         <%- objek.data.information %>                        
                      </div>
                      <% } %>
                      <% if(datas.advice.itineraries.data.tips.length>0) { %>
                      <div class="tips-section">
                        <h4><i class="tips-icon"></i>Tips di <%= objek.data.name %></h4>
                        <ul class="list-dot-blue">
                          <% datas.advice.itineraries.data.tips.forEach( function(el, index) { %>
                          <li><%= el %></li>
                          <% }); %>
                        </ul>
                      </div>
                      <% } %>
                      <div>
                        <h4><i class="clock-icon"></i> Durasi Berkunjung <span class="right"><%= objek.time %></span></h4>
                      </div>
                      <div class="map-content">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="map">
                              <iframe src="https://maps.google.com/maps?q=<%= objek.data.lat %>,<%= objek.data.lng %>&hl=en&z=14&output=embed" width="100%" height="222" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <ul>
                              <li>
                                <i class="from-icon"></i>
                                <strong><%= objek.data.address %></strong>
                                <span class="powered-by-google">Powered by Google Maps</span>
                              </li>
                              <li>
                                <i class="attraction-icon"></i>
                                <strong>Attraction Types</strong>
                                <span><%- objek.data.attractionType %></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } else { %>
                                        
                  <% } %>
                </div>
                <% }); %>
              </div>
            </div>
          </section>
        </div>
        <% }); %>
        <% } %>
      </div>
      <div class="itenary-nav clearfix">
        <a href="#" class="intro">INTRO</a>
        <ul>
         
            <% datas.advice.itineraries.data.timePlans.days.forEach( function(day, index) { %>
          <li><a href="#" id="days<%= index+1 %>"></a></li>
          <% }); %>        
        </ul>
        <a href="#" class="next active">DAY <span>1</span></a>
      </div>
    </div>
    <div class="share-single">
      <ul>
        <li><a href="#" class="facebook"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li><a href="#" class="whatsapp"></a></li>
        <li><a href="#" class="line"></a></li>
        <li><a href="#" class="instagram"></a></li>
        <li><a href="#" class="more"></a></li>
      </ul>
    </div>

   <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script  crossorigin src="/javascripts/m/itinerari.js?ver=1" type="text/javascript" charset="utf-8" async defer></script>
<% include partials/footer %>