<% include partials/meta %>        
        <title>Travelingyuk</title>
        <meta name="description" content="">        
    </head>
    <body>
        <div id="fb-root"></div>
<% include partials/header %>
    <div class="paddingHeader">
      <section class="hero-banner">
        <div class="bg-hero" data-src="<%= baseUrl %>images/m/awann.jpg">
          <div class="container">
            <div class="caption clearfix">
              <h1>Temukan Destinasimu!</h1>
              <p>Puluhan destinasi wisata yang tersebar di seluruh Indonesia menantimu untuk di jelajahi…</p>
            </div>
            <div class="search-form">
              <form  action="search" method="GET">
                <div class="input-group with-icons">
                  <input class="typehead-click" type="text" placeholder="Tuliskan yang mau kamu cari.."  name="keyword" required><button type="submit">CARI SEKARANG</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      
      <% datas.data.forEach(function(el,idx) { %>  
      <% if (el.data.data.length >0 ) { %>
      <section class="rated-content no-padd-right">
        <div class="container">
          <div class="row">
            <h4><%= el.title %></h4>
            <h5 class="more-content"><a href="/lokasi/view/<%= el.slug %>">Lihat Semua <i class="fa fa-angle-right" aria-hidden="true"></i></a></h5>
            <div class="main-carousel">
              <% el.data.data.forEach(function(terbaik) { %>                    
              <div class="carousel-cell item">
                <div class="box">
                  <a href="/lokasi/<%= terbaik.slug  %>/<%= terbaik.id  %>">
                    <div class="box-img">
                      <img  data-flickity-lazyload="<% var imgsrc=terbaik.images[0];
                        imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                        imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                        imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>"
                         alt="<%= terbaik.name  %>" >    
                    </div>
                    <h5><%= terbaik.name  %></h5>
                  </a>
                  <ul>
                    <li><input type="text" class="rating" value="<%= terbaik.rating  %>" readonly="readonly"></li>
                    <li><span><%= terbaik.review  %> reviews</span></li>
                  </ul>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </section>
      <% } %>
      <% }); %>
      
    </div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
    var stori= [];
</script>
<script  crossorigin src="/javascripts/m/location.js?ver=3" type="text/javascript" charset="utf-8" async defer></script>
<script crossorigin src="/javascripts/react.production.min.js" ></script>
    <script crossorigin src="/javascripts/react-dom.production.min.js"></script>
    <script crossorigin src="/javascripts/babel.min.js"></script>
    <script src="/javascripts/rlokasi.js?ver=1"></script>
<% include partials/footer %>