<% include partials/meta %>        
        <title>Travelingyuk</title>
        <meta name="description" content="">        
    </head>
    <body>
        <div id="fb-root"></div>
<% include partials/header %>
    <section class="menu-single paddingHeader">
      <ul>
        <li><a href="#" id="ulasan">Ulasan</a></li>
        <li><a href="#" id="panduan">Panduan</a></li>
        <li><a href="#" id="artikel">Artikel</a></li>
      </ul>
    </section>
    <div class="single-padding single-custom-padding">
      <div class="single-tab showing">
        <section class="single-content location-content">
          <div class="container">
            <div class="page-detail">
              <ul class="page-rating">
                <li><input type="text" class="rating" value="<%= datas.data.rating %>" readonly="readonly"></li>
                <li><span><%= datas.data.review %> reviews</span></li>
              </ul>
              <h1><%= datas.data.name %></h1>
              <div class="row">
                <div class="column">
                  <div class="img-headline">
                    <div class="img-primary">
                        <% if(datas.data.images.length>0) { %>
                            <img src="<%= datas.data.images[0] %>" class="img-responsive" alt="<%= datas.data.name %>">
                        <% } %>
                    </div>
                    <div class="img-li row-pad-8">
                      <div class="row">
                        <div class="owl-carousel owl-box-single owl-theme">
                          <% if(datas.data.images.length>0) { 
                            datas.data.images.forEach(function(thumb) { %>
                              <div class="column">
                                <a href="">
                                    <img  src="<%= thumb %>" data-src="<%= thumb %>" class="img-responsive" alt="<%= datas.data.name %>">
                                </a>
                              </div>
                          <% });
                           } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="explore">
                    <div class="box">
                      <a href="/objek-wisata">
                        <div class="img-box">
                          <img src="/images/location/explore1.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="loc-box">
                          <h5>Objek Wisata</h5>
                          <span><%= datas.data.tourisms.data.pagination.rowCount %> lists</span>
                        </div>
                      </a>
                    </div>
                    <div class="box">
                      <a href="/akomodasi">
                        <div class="img-box">
                          <img src="/images/location/explore2.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="loc-box">
                          <h5>Akomodasi</h5>
                          <span><%= datas.data.accommodations.data.pagination.rowCount %> lists</span>
                        </div>
                      </a>
                    </div>
                    <div class="box">
                      <a href="/kuliner">
                        <div class="img-box">
                          <img src="/images/location/explore3.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="loc-box">
                          <h5>Kuliner</h5>
                          <span><%= datas.data.culinaries.data.pagination.rowCount %> lists</span>
                        </div>
                      </a>
                    </div>
                    <div class="box">
                      <a href="/event">
                        <div class="img-box">
                          <img src="/images/location/explore4.jpg" class="img-responsive" alt="">
                        </div>
                        <div class="loc-box">
                          <h5>Event &amp; Atraksi</h5>
                          <span><%= datas.data.events.data.pagination.rowCount %> lists</span>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="rated-content no-padd-right">
          <div class="container">
            <div class="row">
              <h3 class="custom-title">Pergi Kemana? <span><%= datas.data.whereToGo.data.data.length %> Lists</span></h3>
              <div class="main-carousel">
                <% datas.data.whereToGo.data.data.forEach( function(el, index) { %>  
                <div class="carousel-cell item">
                  <div class="box">
                    <a href="/objek-wisata/<%= el.slug %>/<%= el.id %>">
                      <% if (el.images.length>0) { %>
                      <img src="<%
                                var imgsrc=el.images[0];
                                imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= el.name %>">  
                      <% } %>  
                      <h5><%= el.name %></h5>
                    </a>
                    <h6><strong><%= datas.data.name %></strong>  · <span><%= el.attractionType[0] %></span></h6>
                    <ul>
                      <li><input type="text" class="rating" value="<%= el.rating %>" readonly="readonly"></li>
                      <li><span><%= el.review %> reviews</span></li>
                    </ul>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </section>
        <section class="rated-content no-padd-right">
          <div class="container">
            <div class="row">
              <h3 class="custom-title">Tinggal Kemana? <span><%= datas.data.whereToStay.data.data.length %> Lists</span></h3>
              <div class="main-carousel">
                <% datas.data.whereToStay.data.data.forEach( function(el, index) { %>                    
                <div class="carousel-cell item">
                  <div class="box">
                    <a href="/akomodasi/<%= el.slug %>/<%= el.id %>">
                      <div class="box-img">
                        <% if (el.images.length>0) { %>
                        <img src="<%
                                var imgsrc=el.images[0];
                                imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= el.name %>"> 
                        <% } %>
                      </div>
                      <h5><%= el.name %></h5>
                    </a>
                    <p><b><%= datas.data.name %></b> . <span><%= el.propertyType %></span></p>
                    <ul>
                      <li><input type="text" class="rating" value="<%= el.rating %>" readonly="readonly"></li>
                      <li><span><%= el.review %> reviews</span></li>
                    </ul>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </section>
        <section class="rated-content no-padd-right">
          <div class="container">
            <div class="row">
              <h3 class="custom-title">Makan Kemana? <span>(<%= datas.data.whereToEat.data.data.length %> Lists)</span></h3>
              <div class="main-carousel">
                <% datas.data.whereToEat.data.data.forEach( function(el, index) { %>                    
                <div class="item carousel-cell">
                  <div class="box">
                    <a href="/kuliner/<%= el.slug %>/<%= el.id %>">
                      <div class="box-img">
                        <% if (el.images.length>0) { %>
                        <img src="<%
                                var imgsrc=el.images[0];
                                imgsrc=imgsrc.replace('https://','https://i1.wp.com/');
                                imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                                imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>"
                                alt="<%= el.name %>"> 
                        <% } %>
                      </div>
                      <h5><%= el.name %></h5>
                    </a>
                    <p><b><%= datas.data.name %></b> - <span><%= el.cuisine.name %></span></p>
                    <ul>
                      <li><input type="text" class="rating" value="<%= el.rating %>" readonly="readonly"></li>
                      <li><span><%= el.review %> reviews</span></li>
                    </ul>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </section>
        <% if(datas.data.information.length>3){ %>
        <section class="single-content location-content">
          <div class="container">
            <div class="page-detail">
              <div class="row">
                <div class="column">
                  <div class="page-description page-section">
                    <h3 class="custom-title">Sekilas Info</h3>
                    <div class="paragraph showmore">
                       <%= datas.data.information %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <% } %>
      </div>
      <div class="single-tab" id="ulasan">
        <section class="single-content location-content">
          <div class="container">
            <div class="page-detail">
              <div class="row">
                <div class="column">
                  <% if (datas.data.reviews.expert.data.length>0) { %>  
                  <div class="review-content page-section">
                    <h3>Ulasan dari pakar</h3>
                    <% datas.data.reviews.expert.data.forEach( function(el, idx) { %>
                    <div class="box">
                      <%= el.review %>
                      <div class="note">
                        <div class="row">
                          <div class="col-xs-6">
                            <span class="created"><time class="timeago modified" datetime="<%= el.updatedAt %>"><%= el.updatedAt %></time></span>
                          </div>
                          <div class="col-xs-6">
                            <input type="text" class="rating" value="<%= el.rating %>" readonly="readonly">
                          </div>
                        </div>
                      </div>
                      <div class="author">
                        <img src="<%= el.user.avatar %>" class="avatar" alt="<%= el.user.firstName %> <%= el.user.lastName %>">
                        <strong><%= el.user.firstName %> <%= el.user.lastName %></strong>
                        <span><%= el.user.information %></span>
                      </div>
                    </div>
                    <% }); %> 
                  </div>
                  <% } %>
                  <div class="rate-content page-section">
                    <h4>Ulasan tentang <%= datas.data.name %></h4>
                    <div class="btn-rate btn-orange">
                      <strong><%= datas.data.rating %></strong>
                      <span>/5</span>
                    </div>
                    <div class="label-rate">
                      <input type="text" class="rating" value="<%= datas.data.rating %>" readonly="readonly">
                      <span><%= datas.data.review %> reviews</span>
                    </div>
                  </div>
                  <div class="tips-content page-section">
                    <% if (datas.data.reviews.common.data.length>0) { %>
                        <h3>Ulasan &amp; Tips</h3>
                        <% datas.data.reviews.common.data.forEach(function(el,idx){ %>
                            <div class="box">
                              <div class="author">
                                <div class="row">
                                  <div class="col-xs-12">
                                    <img src="<%= el.user.avatar %>" class="avatar" alt="<%= el.user.firstName %> <%= el.user.lastName %>">
                                    <div class="author-desc">
                                      <strong><%= el.user.firstName %> <%= el.user.lastName %></strong>
                                      <input type="text" class="rating" value="<%= el.rating %>" readonly="readonly">
                                      <span class="created"><time class="timeago modified" datetime="<%= el.updatedAt %>"><%= el.updatedAt %></time></span>
                                    </div>
                                    <span class="top">Top Review</span>
                                  </div>
                                </div>
                              </div>
                              <%= el.review %>
                              <div class="feedback">
                                <button class="btn-thumb"><i class="btn-up"></i></button>
                                <span class="btn-outer-counter">99</span>
                                <button class="btn-thumb"><i class="btn-down"></i></button>
                                <span class="btn-outer-counter">99</span>
                                <button class="btn-more"><i class="more-icon"></i></button>
                              </div>
                            </div>
                        <% }); %>
                    <% } %>
                  </div>
                  <div class="add-review-content page-section">
                    <h3>Tinggalkan Ulasan</h3>
                    <form>
                      <div class="input-group">
                        <textarea type="text" class="form-control"></textarea>
                        <div class="rate-this">
                          <input type="hidden" class="rate-input">
                          <ul>
                            <li><a href="#" data-value="5" class="rate-value"></a></li>
                            <li><a href="#" data-value="4" class="rate-value"></a></li>
                            <li><a href="#" data-value="3" class="rate-value"></a></li>
                            <li><a href="#" data-value="2" class="rate-value"></a></li>
                            <li><a href="#" data-value="1" class="rate-value"></a></li>
                          </ul>
                        </div>
                        <span class="ratestar">
                        <button class="btn-white btn-star ratestar-btn"><i class="fa fa-star"></i> <span>Rate <i></i></span></button>
                        </span>
                        <span class="send">
                        <button class="btn-default">KIRIM</button>
                        </span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="single-tab" id="panduan">
        <section class="single-content location-content">
          <div class="container">
            <div class="page-detail">
              <div class="row">
                <div class="column">
                  <div class="sidebar">
                    <div class="map-content sidebar-section">
                      <h3>Peta</h3>
                      <div class="box">
                        <div class="map"><iframe src="https://maps.google.com/maps?q=<%= datas.data.lat %>,<%= datas.data.lng %>&hl=en&z=14&output=embed" width="100%" height="222" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                        <i class="from-icon"></i> <strong><%= datas.data.name %></strong>
                        <span>Powered by Google Maps</span>
                      </div>
                    </div>
                    <div class="direction-content sidebar-section">
                      <h3>Menuju Kesini?</h3>
                      <div class="box">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#plane"><i class="plane-icon"></i></a></li>
                          <li><a href="#bus"><i class="bus-icon"></i></a></li>
                          <li><a href="#train"><i class="train-icon"></i></a></li>
                        </ul>
                        <div class="tab-content">
                          <div id="plane" class="tab-pane active">
                            <ul>
                              <li>
                                <div class="timeline-direction timeline-start">
                                  <i class="from-icon"></i>
                                  <strong><%= datas.data.howToGetThere.from %></strong>
                                </div>
                              </li><% var stepLength=datas.data.howToGetThere.modes.plane.detail_steps.length; 
                                datas.data.howToGetThere.modes.plane.detail_steps.forEach( function(step, index) { 
                                if (index<stepLength-1&& index>0){ %>
                                <li>
                                    <div class="timeline-direction timeline-center">
                                        <i class="from-icon"></i>
                                        <strong><%= step.name %></strong>
                                        <span><%= step.address %></span>
                                    </div>
                                </li>
                                <% } %>
                                <% }); %>
                              <li>
                                <div class="timeline-direction timeline-finish">
                                  <i class="target-icon"></i>
                                  <strong><%= datas.data.name %></strong>
                                </div>
                              </li>
                              <li>
                                <div class="timeline-budget">
                                  <div class="row">
                                    <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                    <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_time %></strong></div>
                                  </div>
                                  <div class="row">
                                        <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                        <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.plane.display.total_distance %></strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6"><span> Rekomendasi</span></div>
                                        <div class="col-xs-6"><strong>
                                            <%= datas.data.howToGetThere.modes.plane.display.recommendations %>
                                        </strong></div>
                                    </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div id="bus" class="tab-pane">
                            <ul>
                              <li>
                                <div class="timeline-direction timeline-start">
                                  <i class="from-icon"></i>
                                  <strong><%= datas.data.howToGetThere.from %></strong>
                                </div>
                              </li>
                              <li>
                                <div class="timeline-direction timeline-finish">
                                  <i class="target-icon"></i>
                                  <strong><%= datas.data.name %></strong>
                                </div>
                              </li>
                              <li>
                                <div class="timeline-budget">
                                  <div class="row">
                                    <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                    <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_time %></strong></div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                    <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.bus.display.total_cost %></strong></div>
                                  </div>
                                  <div class="row">
                                        <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                        <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.driving.display.total_distance %></strong></div>
                                    </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div id="train" class="tab-pane">
                            <ul>
                              <li>
                                <div class="timeline-direction timeline-start">
                                  <i class="from-icon"></i>
                                  <strong><%= datas.data.howToGetThere.from %></strong>
                                </div>
                              </li>
                              <% var stepLength=datas.data.howToGetThere.modes.train.detail_steps.length; 
                                 datas.data.howToGetThere.modes.train.detail_steps.forEach( function(step, index) { 
                                    if (index<stepLength-1&& index>0){ %>
                                    <li>
                                        <div class="timeline-direction timeline-center">
                                            <i class="from-icon"></i>
                                            <strong><%= step.name %></strong>
                                            <span><%= step.address %></span>
                                        </div>
                                    </li>
                                    <% } %>
                                <% }); %>
                                <li>
                                    <div class="timeline-direction timeline-finish">
                                        <i class="target-icon"></i>
                                        <strong><%= datas.data.name %></strong>
                                    </div>
                                </li>
                              <li>
                                <div class="timeline-budget">
                                  <div class="row">
                                        <div class="col-xs-6"><span>Waktu Tempuh</span></div>
                                        <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_time %></strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6"><span>Estimasi Biaya</span></div>
                                        <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_cost %></strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6"><span>Jarak Tempuh</span></div>
                                        <div class="col-xs-6"><strong><%- datas.data.howToGetThere.modes.train.display.total_distance %></strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6"><span> Rekomendasi</span></div>
                                        <div class="col-xs-6"><strong>
                                            <%= datas.data.howToGetThere.modes.train.display.recommendations %>
                                        </strong></div>
                                    </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="single-tab" id="artikel">
        <% if(storidatas.length>0){ %>
        <section class="rated-content no-padd-right">
          <div class="container">
            <div class="row">
              <h4>Stories Terkait</h4>
              <div class="main-carousel">
                <% storidatas.forEach(function(stori,index) { %>
                <div class="carousel-cell  item">
                  <div class="box">
                    <a href="<% var link=stori.link;
                      link=link.replace('https://admin.travelingyuk.com/', baseUrl); %><%= link %>">
                      <img  id="media<%= index %>" src=""   alt="<%= stori.title.rendered %>">  
                    </a>  
                    <h5><a href="<%= link %>"><%= stori.title.rendered %></a></h5>
                    <span class="created"><time class="created modified timeago" datetime="<%= stori.date %>"><%= stori.date %></time></span>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </section>
        <% } %>
      </div>
    </div>
    <a href="#" class="back-to-top">
      <div class="back-top"></div>
    </a>
    <div class="share-single">
      <ul>
        <li><a href="#" class="facebook"></a></li>
        <li><a href="#" class="twitter"></a></li>
        <li><a href="#" class="whatsapp"></a></li>
        <li><a href="#" class="line"></a></li>
        <li><a href="#" class="instagram"></a></li>
        <li><a href="#" class="more"></a></li>
      </ul>
    </div>
   <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
    var stori= <%- storibody %>;
</script>
<script  crossorigin src="/javascripts/m/location.js?ver=1" type="text/javascript" charset="utf-8" async defer></script>
<% include partials/footer %>