<% include partials/meta %>        
        <title>Travelingyuk</title>
        <meta name="description" content="">        
    </head>
    <body>
        <div id="fb-root"></div>
<% include partials/header %>
    
     <div class="paddingHeader">
      <div class="container">
        <div class="row">
          <div class="breadrumbs">&nbsp;</div>
        </div>
      </div>
      <div class="search-page">
        <section class="rated-content home-search">
          <div class="container">
            <div class="row">
              <h2>Hasil Pencarian untuk “<%= keyword %>”</h2>
            </div>
          </div>
        </section>
        <% if(typeof datas.advice.culinaries.data != "undefined"){
            if(datas.advice.culinaries.data.data.length>0){ %>
        <section class="rated-content no-padd-right">
          <div class="container">
            <div class="row">
              <h3>Kuliner</h3>
              <div class="row-pad-8 ">
                <div class="main-carousel">
                <% datas.advice.culinaries.data.data.forEach(function(kuliner) { %>
                <div class="carousel-cell item">
                  <div class="box">
                    <a href="/kuliner/<%= kuliner.slug %>/<%= kuliner.id %>">                      
                      <% if(kuliner.images.length>0) { %>
                      <img data-flickity-lazyload="<% var imgsrc=kuliner.images[0];
                            imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                            imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                            imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= kuliner.name %>">
                      <% } %>                       
                    </a>
                    <h5><a href="/kuliner/<%= kuliner.slug %>/<%= kuliner.id %>"><%= kuliner.name %></a></h5>
                    <ul>
                      <li><input type="text" class="rating" value="<%= kuliner.rating %>" readonly="readonly"></li>
                      <li><span><%= kuliner.review %> reviews</span></li>
                    </ul>
                  </div>
                </div>
                <% }); %>

                </div>
              </div>
            </div>
          </div>
        </section>
        <% }
        } %>
        <% if(typeof datas.advice.tourisms.data != "undefined"){
            if(datas.advice.tourisms.data.data.length>0){ %>
        <section class="rated-content no-padd-right">
          <div class="container">
            <div class="row">
              <h3>Objek Wisata</h3>
              <div class="row-pad-8">
                <div class="main-carousel">
                  <% datas.advice.tourisms.data.data.forEach(function(tourism) { %>
                  <div class="carousel-cell item">
                    <div class="box">
                      <a href="/objek-wisata/<%= tourism.slug %>/<%= tourism.id %>">
                            <% if(tourism.images.length>0) { %>
                            <img data-flickity-lazyload="<% var imgsrc=tourism.images[0];
                            imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                            imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                            imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= tourism.name %>">
                            <% } %>
                        </a>  
                      <h5><a href="/objek-wisata/<%= tourism.slug %>/<%= tourism.id %>"><%= tourism.name %></a></h5>
                      <p><b><%= tourism.location.name %></b> - <span><%= tourism.attractionType[0] %></span></p>
                      <ul>
                        <li><input type="text" class="rating" value="<%= tourism.rating %>" readonly="readonly"></li>
                        <li><span><%= tourism.review %> reviews</span></li>
                      </ul>
                    </div>
                  </div>
                    <% }); %>
                </div>
              </div>
            </div>
          </div>
        </section>
        <% }
        } %>
        <% if(typeof datas.advice.accommodations.data != "undefined"){
            if(datas.advice.accommodations.data.data.length>0){ %>
        <section class="rated-content no-padd-right">
          <div class="container">
            <div class="row">
              <h3>Akomodasi</h3>
              <div class="row-pad-8">
                <div class="main-carousel">
                  <% datas.advice.accommodations.data.data.forEach(function(akomodasi) { %>
                  <div class="carousel-cell item">
                    <div class="box">
                      <a href="/akomodasi/<%= akomodasi.slug %>/<%= akomodasi.id %>">
                            <% if(akomodasi.images.length>0) { %>
                            <img data-flickity-lazyload="<% var imgsrc=akomodasi.images[0];
                            imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                            imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                            imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= akomodasi.name %>"> 
                            <% } %>
                        </a>   
                      <h5><a href="/akomodasi/<%= akomodasi.slug %>/<%= akomodasi.id %>"><%= akomodasi.name %></a></h5>
                      <p><b><%= akomodasi.location.name %></b> - <span><%= akomodasi.propertyType %></span></p>
                      <ul>
                        <li><input type="text" class="rating" value="<%= akomodasi.rating %>" readonly="readonly"></li>
                        <li><span><%= akomodasi.review %> reviews</span></li>
                      </ul>
                    </div>
                  </div>
                    <% }); %>
                </div>
              </div>
            </div>
          </div>
        </section>
        <% }
        } %>
 
         <% if(storidatas.length>0){ %>
        <section class="rated-content v2 no-padd-right">
          <div class="container">
            <div class="row">
              <h3>Stories</h3>
              <div class="row-pad-8">
                <div class="main-carousel">
                    <% storidatas.forEach(function(stori,index) { %>
                  <div class="carousel-cell item">
                    <div class="box">
                        <a href="<%= stori.permalink %>">
                            <img data-flickity-lazyload="<% var imgsrc=stori.fi;
                              imgsrc=imgsrc.replace('https://','https://i0.wp.com/');
                              imgsrc=imgsrc.replace('.jpg','.jpg?resize=275,180');
                              imgsrc=imgsrc.replace('.jpeg','.jpeg?resize=275,180'); %><%= imgsrc %>" alt="<%= stori.post_title %>">
                        </a>
                      <h5><a href="<%= stori.permalink %>"><%= stori.post_title %></a></h5>
                      <p><span><b><time class="timeago modified" datetime="<%= stori.date %>"><%= stori.date %></time></b></span></p>
                    </div>
                  </div>
                    <% }); %>
                </div>
              </div>
            </div>
          </div>
        </section>
        <% } %>
      </div>
    </div>
     <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
    var stori= <%- storibody %>;
</script>
<script  crossorigin src="/javascripts/m/search.js?ver=3" type="text/javascript" charset="utf-8" async defer></script>
<% include partials/footer %>