<% include partials/meta %>        
        <title>Travelingyuk</title>
        <meta name="description" content="">        
    </head>
    <body>
        <div id="fb-root"></div>
<% include partials/header %>
    <section class="menu-single paddingHeader">
        <ul>
            <li><a href="#" id="artikelst">Artikel</a></li>
            <li><a href="#" id="rekomendasi">Rekomendasi</a></li>
            <li><a href="#" id="komentar">Komentar</a></li>
        </ul>
    </section>
    <section class="location-content single-pagesv2 stories-page">
        <div class="container">
            <div class="page-detail stories-details">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="single-tab" id="artikelst">
                            <h1><%= storidatas.title.rendered %></h1>
                            <div class="profile-details clearfix">
                                <div class="profile-stories">
                                    <div class="img-raounded" style="background-image: url(<%= authordatas.avatar_urls[96] %>)"></div>
                                    <div class="profile-desc">
                                        <h3><%= authordatas.name %></h3>
                                        <div class="date"><time class="timeago modified" datetime="<%= storidatas.date %>"><%= storidatas.date %></time> On <a href="#"><%= catdatas.name %></a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="stories-description">
                                <img src="<%= mediadatas.guid.rendered %>" alt="<%= storidatas.title.rendered %>">
                                <label class="label-img"><%= storidatas.title.rendered %></label>
                                <%- storidatas.content.rendered %>
                            </div>

                            <div class="tag-category">
                                <ul>
                                    <li><a href="#">#akomodasi</a></li>
                                    <li><a href="#">#hotel</a></li>
                                    <li><a href="#">#luar negeri</a></li>
                                </ul>
                            </div>

                            <div class="pagination-stories clearfix">
                                <div class="prev">
                                    <a href="#">
                                        <div class="navigation">
                                            <img src="<%= baseUrl %>images/icons/arrow-left.svg" alt="arrow-prev">
                                            <span>Previous Article</span>
                                        </div>
                                        <div class="article">
                                            <img src="<%= baseUrl %>images/stories/1.jpg" alt="article">
                                            <h3>4 Hotel yang Ada di Dalam atau Dekat Mall, Turun Langsung Sho…</h3>
                                        </div>
                                    </a>
                                </div>
                                <div class="next">
                                    <a href="#">
                                        <div class="navigation">
                                            <span>Next Article</span>
                                            <img src="<%= baseUrl %>images/icons/arrow-right.svg" alt="arrow-next">
                                        </div>
                                        <div class="article">
                                            <img src="<%= baseUrl %>images/stories/1.jpg" alt="article">
                                            <h3>Dari Handuk Berbentuk ‘itu’ hingga Kolam Renang Pasir…</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="single-tab" id="rekomendasi">
                            <div class="recommended-stories rated-content">
                                <h2>Rekomendasi Stories</h2>
                                <div class="content clearfix">
                                    <div class="row">
                                        <% featuredatas.forEach( function(el, index) { %>
                                        <div class="item">
                                            <div class="box">
                                                <div class="inner-box">
                                                    <a href="<%
                                                        var link=el.link;
                                                        link=link.replace('https://travelingyuk.com/', baseUrl); %><%= link %>"  id="feature<%= index %>" >

                                                    </a>
                                                    <h5>
                                                        <a href="<%= link %>"><%- el.title.rendered %></a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-tab" id="komentar">
                            <div class="facebook-comment">
                                <div class="fb-comments" data-href="<%= storidatas.link %>" data-width="100%" data-numposts="5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="share-single">
        <ul>
            <li><a href="#" class="facebook"></a></li>
            <li><a href="#" class="twitter"></a></li>
            <li><a href="#" class="whatsapp"></a></li>
            <li><a href="#" class="line"></a></li>
            <li><a href="#" class="instagram"></a></li>
            <li><a href="#" class="more"></a></li>
        </ul>
    </div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
    var stori= <%- storibody %>;
    var feature= <%- featurebody %>;
</script>
<script  crossorigin src="/javascripts/m/stories.js?ver=1" type="text/javascript" charset="utf-8" async defer></script>
<% include partials/footer %>